force-app/main/default/flows/Create_Budget_Allocation_for_Customer_Purchase_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_There_A_Budget_Allocation_Created</name>
        <label>Is There A Budget Allocation Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Budget_Allocation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Budget_Allocation_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Existing_Budget_Allocation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Budget Allocation Exists</label>
        </rules>
    </decisions>
    <description>Automatically creates a budget allocation record for Customer Purchase Orders and assigns it as the default.</description>
    <environments>Default</environments>
    <interviewLabel>Create Budget Allocation for Customer Purchase Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Budget Allocation for Customer Purchase Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Budget_Allocation</name>
        <label>Create Budget Allocation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>BudgetAllocationID</assignRecordIdToReference>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Initial Services Budget</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Billable_Expenses_Budget__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Customer_Purchase_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Is_Default__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Project__c</field>
            <value>
                <elementReference>$Record.pse__Project__c</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Budget_Allocation__c</object>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Existing_Budget_Allocation</name>
        <label>Check for Existing Budget Allocation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_A_Budget_Allocation_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Customer_Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Budget_Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Existing_Budget_Allocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Purchase Order</stringValue>
            </value>
        </filters>
        <object>pse__Budget__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BudgetAllocationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
