force-app/main/default/flows/FFX_FAMAssetCheckAndApprove.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_to_Approval</name>
        <label>Submit to Approval</label>
        <locationX>845</locationX>
        <locationY>532</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Has_Acquisition_Date</name>
        <label>Has Acquisition Date</label>
        <locationX>363</locationX>
        <locationY>536</locationY>
        <defaultConnector>
            <targetReference>Error_Acquisition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HADYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetDateAcquired</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OK_to_Approve</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Company</name>
        <label>Has Company</label>
        <locationX>197</locationX>
        <locationY>532</locationY>
        <defaultConnector>
            <targetReference>Error_Company</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HCYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFFACompanyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_GLAs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Cost</name>
        <label>Has Cost</label>
        <locationX>364</locationX>
        <locationY>702</locationY>
        <defaultConnector>
            <targetReference>Error_Cost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HCostYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFixedAssetCost</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFixedAssetCost</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Acquisition_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_GLAs</name>
        <label>Has GLAs</label>
        <locationX>197</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>Error_GLAs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>GLAYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFFA_GLAAccumulatedDepreciationID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFFA_GLAAssetDisposalID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFFA_GLAAssetPaymentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFFA_GLADepreciationID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFFA_GLAFixedAssetID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Cost</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Group</name>
        <label>Has Group</label>
        <locationX>195</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>Error_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HGYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Company</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_OK</name>
        <label>Status OK</label>
        <locationX>195</locationX>
        <locationY>186</locationY>
        <defaultConnector>
            <targetReference>Error_StatusC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancelled</defaultConnectorLabel>
        <rules>
            <name>SOKYes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAssetStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAssetStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAssetStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>SOKSubmitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_StatusS</targetReference>
            </connector>
            <label>Submitted</label>
        </rules>
        <rules>
            <name>SOKApproved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAssetStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAssetStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_StatusA</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <interviewLabel>FAM Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FAM Asset Check &amp; Approve</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Asset_Info</name>
        <label>Get Asset Info</label>
        <locationX>202</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_OK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FAM__Fixed_Asset__c</object>
        <outputAssignments>
            <assignToReference>varFixedAssetCompany</assignToReference>
            <field>Company__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFixedAssetCurrency</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFixedAssetCost</assignToReference>
            <field>FAM__Asset_Cost__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAssetGroupID</assignToReference>
            <field>FAM__Asset_Group__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAssetSubGroupID</assignToReference>
            <field>FAM__Asset_Sub_Group__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAssetDateAcquired</assignToReference>
            <field>FAM__Date_Acquired__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAssetDateInService</assignToReference>
            <field>FAM__Date_In_Service__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAssetStatus</assignToReference>
            <field>FAM__Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFFACompanyID</assignToReference>
            <field>FFX_FFACompanyID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFFA_GLAAccumulatedDepreciationID</assignToReference>
            <field>FFX_GLAAccumulatedDepreciationID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFFA_GLAAssetDisposalID</assignToReference>
            <field>FFX_GLAAssetDisposalID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFFA_GLADepreciationID</assignToReference>
            <field>FFX_GLADepreciationID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFFA_GLAFixedAssetID</assignToReference>
            <field>FFX_GLAFixedAssetID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFFA_GLAAssetPaymentID</assignToReference>
            <field>FFX_GLAPaymentID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFixedAssetName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Error_Acquisition</name>
        <label>Error_Acquisition</label>
        <locationX>370</locationX>
        <locationY>367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorAcquisitionDate</name>
            <fieldText>&lt;p&gt;Fixed Asset {!varFixedAssetName} cannot be approved without an Acquisition Date being provided.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Company</name>
        <label>Error_Company</label>
        <locationX>45</locationX>
        <locationY>530</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorCompany</name>
            <fieldText>&lt;p&gt;Fixed Asset {!varFixedAssetName} cannot be approved because there is no company specified. A valid company must be provided either on the Asset or on the Asset Group.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Cost</name>
        <label>Error_Cost</label>
        <locationX>522</locationX>
        <locationY>701</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorCost</name>
            <fieldText>&lt;p&gt;Fixed Asset {!varFixedAssetName} cannot be approved without an Asset Cost being provided.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_GLAs</name>
        <label>Error_GLAs</label>
        <locationX>42</locationX>
        <locationY>700</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorGLAs</name>
            <fieldText>&lt;p&gt;Fixed Asset {!varFixedAssetName} cannot be approved because the required General Ledger Accounts are not specified.&lt;/p&gt;&lt;p&gt;Values are needed for the five GLA categories; these can be specified at the Asset, Sub-Group or Group Level, with the first for each taken in that order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Group</name>
        <label>Error_Group</label>
        <locationX>48</locationX>
        <locationY>361</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorGroup</name>
            <fieldText>&lt;p&gt;Fixed Asset {!varFixedAssetName} cannot be approved because there is no group specified. An asset group is required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_StatusA</name>
        <label>Error_StatusA</label>
        <locationX>51</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorStatusA</name>
            <fieldText>&lt;p&gt;Fixed Asset {!varFixedAssetName} has already been approved. The current status is {!varAssetStatus}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_StatusC</name>
        <label>Error_StatusC</label>
        <locationX>419</locationX>
        <locationY>254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorStatusC</name>
            <fieldText>&lt;p&gt;Fixed Asset {!varFixedAssetName} cannot be approved because it has been {!varAssetStatus}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_StatusS</name>
        <label>Error_StatusS</label>
        <locationX>418</locationX>
        <locationY>109</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorStatusS</name>
            <fieldText>&lt;p&gt;Fixed Asset {!varFixedAssetName} has already been submitted to approval.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OK_to_Approve</name>
        <label>OK to Approve</label>
        <locationX>630</locationX>
        <locationY>532</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Submit_to_Approval</targetReference>
        </connector>
        <fields>
            <name>OKApprove</name>
            <fieldText>&lt;p&gt;Fixed Asset {!varFixedAssetName} will now be submitted for approval. Once approved depreciation can be calculated and the Asset activated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Asset_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetDateAcquired</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetDateInService</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetSubGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFFA_GLAAccumulatedDepreciationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFFA_GLAAssetDisposalID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFFA_GLAAssetPaymentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFFA_GLADepreciationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFFA_GLAFixedAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFFACompanyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFixedAssetCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFixedAssetCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varFixedAssetCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFixedAssetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
