force-app/main/default/flows/FFX_FFRM_Populate_GLA_Name_on_Timecard_Split_Source_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Milestone_Blank_on_TC</name>
        <label>Is Milestone Blank on TC ?</label>
        <locationX>276</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Milestone_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MilestoneRecordID_INPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SP_from_Assignment</targetReference>
            </connector>
            <label>Yes - Milestone Blank</label>
        </rules>
        <rules>
            <name>No_Milestone_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MilestoneRecordID_INPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SP_From_Milestone</targetReference>
            </connector>
            <label>No - Milestone Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Service_Product_on_TC_Blank</name>
        <label>Is Service Product on TC Blank ?</label>
        <locationX>444</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceProductRecordIDfromTimecard_INPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Milestone_Blank_on_TC</targetReference>
            </connector>
            <label>Yes - Blank</label>
        </rules>
        <rules>
            <name>No_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceProductRecordIDfromTimecard_INPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GLA_Record_IDs_from_Service_Product</targetReference>
            </connector>
            <label>No - Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SP_Blank_on_Milestone</name>
        <label>Is SP Blank on Milestone ?</label>
        <locationX>628</locationX>
        <locationY>197</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SP_Blank_on_MS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceProductRecordIDfromTimecard_INPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SP_from_Assignment</targetReference>
            </connector>
            <label>Yes - SP Blank on MS</label>
        </rules>
        <rules>
            <name>No_SP_Completed_on_MS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceProductRecordIDfromTimecard_INPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GLA_Record_IDs_from_Service_Product</targetReference>
            </connector>
            <label>No - SP Completed on MS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SP_Completed_on_Assignment</name>
        <label>Is SP Completed on Assignment ?</label>
        <locationX>779</locationX>
        <locationY>529</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SP_on_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceProductRecordIDfromTimecard_INPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GLA_Record_IDs_from_Service_Product</targetReference>
            </connector>
            <label>Yes - SP on Assignment</label>
        </rules>
        <rules>
            <name>No_SP_not_on_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceProductRecordIDfromTimecard_INPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SP_from_Project</targetReference>
            </connector>
            <label>No - SP not on Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SP_on_Project</name>
        <label>Is SP on Project ?</label>
        <locationX>1208</locationX>
        <locationY>531</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SP_on_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceProductRecordIDfromTimecard_INPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GLA_Record_IDs_from_Service_Product</targetReference>
            </connector>
            <label>Yes - SP on Project</label>
        </rules>
        <rules>
            <name>No_SP_not_on_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceProductRecordIDfromTimecard_INPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_the_Fields</targetReference>
            </connector>
            <label>No - SP not on Project</label>
        </rules>
    </decisions>
    <interviewLabel>FFRM - Populate GLA Name on Timecard Split Source Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FFRM - Populate GLA Name on Timecard Split Source Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_GLA_Record_IDs_from_Service_Product</name>
        <label>Get GLA Record IDs from Service Product</label>
        <locationX>921</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSalesRevenueGLAName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceProductRecordIDfromTimecard_INPUT</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>SalesRevenueAccountRRGLAID_OUTPUT</assignToReference>
            <field>FFX_RevenueRecognitionAccount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SalesRevenueAccountGLAID_OUTPUT</assignToReference>
            <field>c2g__CODASalesRevenueAccount__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Revenue_RRGLA_Name</name>
        <label>Get Sales Revenue RRGLA Name</label>
        <locationX>1235</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Timecard_Split_GLA_Names</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesRevenueAccountRRGLAID_OUTPUT</elementReference>
            </value>
        </filters>
        <object>c2g__codaGeneralLedgerAccount__c</object>
        <outputAssignments>
            <assignToReference>SalesRevenueRRGLAName_OUTPUT</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_SP_from_Assignment</name>
        <label>Get SP from Assignment</label>
        <locationX>636</locationX>
        <locationY>527</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_SP_Completed_on_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignmentRecordID_INPUT</elementReference>
            </value>
        </filters>
        <object>pse__Assignment__c</object>
        <outputAssignments>
            <assignToReference>ServiceProductRecordIDfromTimecard_INPUT</assignToReference>
            <field>ffpsai__ServicesProduct__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_SP_From_Milestone</name>
        <label>Get SP From Milestone</label>
        <locationX>496</locationX>
        <locationY>333</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_SP_Blank_on_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MilestoneRecordID_INPUT</elementReference>
            </value>
        </filters>
        <object>pse__Milestone__c</object>
        <outputAssignments>
            <assignToReference>ServiceProductRecordIDfromTimecard_INPUT</assignToReference>
            <field>ffpsai__ServicesProduct__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_SP_from_Project</name>
        <label>Get SP from Project</label>
        <locationX>1027</locationX>
        <locationY>529</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_SP_on_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectRecordID_INPUT</elementReference>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <outputAssignments>
            <assignToReference>ServiceProductRecordIDfromTimecard_INPUT</assignToReference>
            <field>ffpsai__ServicesProduct__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Timecard_Split_Data</name>
        <label>Get Timecard Split Data</label>
        <locationX>235</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Service_Product_on_TC_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimecardSplitRecordID</elementReference>
            </value>
        </filters>
        <object>pse__Timecard__c</object>
        <outputAssignments>
            <assignToReference>ServiceProductRecordIDfromTimecard_INPUT</assignToReference>
            <field>FFX_Service_Product_Record_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AssignmentRecordID_INPUT</assignToReference>
            <field>pse__Assignment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MilestoneRecordID_INPUT</assignToReference>
            <field>pse__Milestone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectRecordID_INPUT</assignToReference>
            <field>pse__Project__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetSalesRevenueGLAName</name>
        <label>GetSalesRevenueGLAName</label>
        <locationX>1079</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Revenue_RRGLA_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesRevenueAccountGLAID_OUTPUT</elementReference>
            </value>
        </filters>
        <object>c2g__codaGeneralLedgerAccount__c</object>
        <outputAssignments>
            <assignToReference>SalesRevenueGLAName_OUTPUT</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Blank_the_Fields</name>
        <label>Blank the Fields</label>
        <locationX>1455</locationX>
        <locationY>523</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimecardSplitRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FFX_Rev_Rec_Sales_GLA__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_Rev_Rec_Sales_RRGLA__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>pse__Timecard__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Timecard_Split_GLA_Names</name>
        <label>Update Timecard Split GLA Names</label>
        <locationX>1384</locationX>
        <locationY>53</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimecardSplitRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FFX_Rev_Rec_Sales_GLA__c</field>
            <value>
                <elementReference>SalesRevenueGLAName_OUTPUT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_Rev_Rec_Sales_RRGLA__c</field>
            <value>
                <elementReference>SalesRevenueRRGLAName_OUTPUT</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Timecard__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Timecard_Split_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignmentRecordID_INPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MilestoneRecordID_INPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectRecordID_INPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesRevenueAccountGLAID_OUTPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesRevenueAccountRRGLAID_OUTPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesRevenueGLAName_OUTPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesRevenueRRGLAName_OUTPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceProductRecordIDfromMilestone_OUTPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceProductRecordIDfromTimecard_INPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TimecardSplitRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
