force-app/main/default/flows/FFX_FAMInheritBookAndMethod.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Acc_Type</name>
        <label>Set Acc Type</label>
        <locationX>325</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>VarTypeAccounting</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cust_Type</name>
        <label>Set Cust Type</label>
        <locationX>327</locationX>
        <locationY>413</locationY>
        <assignmentItems>
            <assignToReference>VarTypeCustom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MACRS_Type</name>
        <label>Set MACRS Type</label>
        <locationX>682</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>varTypeMACRS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Source_DBs</name>
        <label>Set Source DBs</label>
        <locationX>951</locationX>
        <locationY>741</locationY>
        <assignmentItems>
            <assignToReference>DepreciationBooks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group_Books</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_DB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_source_DBs_SG</name>
        <label>Set source DBs SG</label>
        <locationX>947</locationX>
        <locationY>635</locationY>
        <assignmentItems>
            <assignToReference>DepreciationBooks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sub_Group_Books</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_DB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tax_Type</name>
        <label>Set Tax Type</label>
        <locationX>671</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>varTypeTax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecTypes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DCType</name>
        <label>Type</label>
        <locationX>485</locationX>
        <locationY>365</locationY>
        <defaultConnector>
            <targetReference>RecTypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>DCAccounting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecTypes.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Accounting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Acc_Type</targetReference>
            </connector>
            <label>Accounting</label>
        </rules>
        <rules>
            <name>Custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecTypes.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cust_Type</targetReference>
            </connector>
            <label>Custom</label>
        </rules>
        <rules>
            <name>MACRS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecTypes.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MACRS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MACRS_Type</targetReference>
            </connector>
            <label>MACRS</label>
        </rules>
        <rules>
            <name>Tax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecTypes.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Asset_Tax</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tax_Type</targetReference>
            </connector>
            <label>Tax</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Book_Found</name>
        <label>Group Book Found</label>
        <locationX>1126</locationX>
        <locationY>644</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>GBFYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Group_Books</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Source_DBs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Method</name>
        <label>Needs Method</label>
        <locationX>528</locationX>
        <locationY>744</locationY>
        <defaultConnector>
            <targetReference>Each_DB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>NMYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSourceAppliedDepreciationMethodID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Applied_Method</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Types_Found</name>
        <label>Record Types Found</label>
        <locationX>539</locationX>
        <locationY>71</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>RTFYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Types</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecTypes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sub_Group_Book_Found</name>
        <label>Sub-Group Book Found</label>
        <locationX>938</locationX>
        <locationY>435</locationY>
        <defaultConnector>
            <targetReference>Get_Group_Books</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SGBFYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sub_Group_Books</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_source_DBs_SG</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sub_Group_Present</name>
        <label>Sub-Group Present</label>
        <locationX>939</locationX>
        <locationY>138</locationY>
        <defaultConnector>
            <targetReference>Get_Group_Books</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SGPYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetSubGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sub_Group_Books</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>fmlDepreciationBookName</name>
        <dataType>String</dataType>
        <expression>{!varFixedAssetName}&amp;&quot; Accounting Depreciation Book&quot;</expression>
    </formulas>
    <formulas>
        <name>frmDBRecType</name>
        <dataType>String</dataType>
        <expression>CASE({!Each_DB.RecordType.DeveloperName},
&quot;Asset_Group_Accounting_Book&quot;,{!VarTypeAccounting},
&quot;Asset_Sub_Group_Accounting_Book&quot;,{!VarTypeAccounting},
&quot;Asset_Group_Custom_Book&quot;,{!VarTypeCustom},
&quot;Asset_Sub_Group_Custom_Book&quot;,{!VarTypeCustom},
&quot;Asset_Group_MACRS_Tax_Book&quot;,{!varTypeMACRS},
&quot;Asset_Sub_Group_MACRS_Tax_Book&quot;,{!varTypeMACRS},
&quot;Asset_Group_Tax_Book&quot;,{!varTypeTax},
&quot;Asset_Sub_Group_Tax_Book&quot;,{!varTypeTax},
&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>FFX {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FAM Inherit Depreciation Book &amp; Method on Asset Creation</label>
    <loops>
        <name>Each_DB</name>
        <label>Each DB</label>
        <locationX>731</locationX>
        <locationY>586</locationY>
        <collectionReference>DepreciationBooks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateDB</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>RecTypes</name>
        <label>RecTypes</label>
        <locationX>547</locationX>
        <locationY>243</locationY>
        <collectionReference>Get_Record_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DCType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Asset_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Applied_Method</name>
        <label>Create Applied Method</label>
        <locationX>572</locationX>
        <locationY>585</locationY>
        <connector>
            <targetReference>Each_DB</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varFixedAssetCurrencyISOCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Depreciation_Book__c</field>
            <value>
                <elementReference>CreateDB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Depreciation_Method__c</field>
            <value>
                <elementReference>varDepreciationMethodID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Effective_Date__c</field>
            <value>
                <elementReference>varADMEffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <object>FAM__Applied_Depreciation_Method__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateDB</name>
        <label>CreateDB</label>
        <locationX>732</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_Depreciation_Method</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varFixedAssetCurrencyISOCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Fixed_Asset__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Service_Life_in_Years__c</field>
            <value>
                <elementReference>Each_DB.FAM__Service_Life_in_Years__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Time_Period_Basis__c</field>
            <value>
                <elementReference>Each_DB.FAM__Time_Period_Basis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fmlDepreciationBookName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>frmDBRecType</elementReference>
            </value>
        </inputAssignments>
        <object>FAM__Depreciation_Book__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset_Details</name>
        <label>Get Asset Details</label>
        <locationX>757</locationX>
        <locationY>136</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sub_Group_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FAM__Fixed_Asset__c</object>
        <outputAssignments>
            <assignToReference>varFixedAssetCurrencyISOCode</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFixedAssetCost</assignToReference>
            <field>FAM__Asset_Cost__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAssetGroupID</assignToReference>
            <field>FAM__Asset_Group__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAssetSubGroupID</assignToReference>
            <field>FAM__Asset_Sub_Group__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFixedAssetName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Depreciation_Method</name>
        <label>Get Depreciation Method</label>
        <locationX>622</locationX>
        <locationY>798</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Needs_Method</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FAM__Depreciation_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Each_DB.Id</elementReference>
            </value>
        </filters>
        <object>FAM__Applied_Depreciation_Method__c</object>
        <outputAssignments>
            <assignToReference>varDepreciationMethodID</assignToReference>
            <field>FAM__Depreciation_Method__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varADMEffectiveDate</assignToReference>
            <field>FAM__Effective_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSourceAppliedDepreciationMethodID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Books</name>
        <label>Get Group Books</label>
        <locationX>1134</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Book_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FAM__Asset_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetGroupID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FAM__Depreciation_Book__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Types</name>
        <label>Get Record Types</label>
        <locationX>422</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Types_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FAM__Depreciation_Book__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset_Accounting_Book</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset_Custom_Book</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset_Tax_Book</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset_MACRS_Tax_Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sub_Group_Books</name>
        <label>Get Sub-Group Books</label>
        <locationX>945</locationX>
        <locationY>296</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sub_Group_Book_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FAM__Asset_Sub_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetSubGroupID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FAM__Depreciation_Book__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Record_Types</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DepreciationBooks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FAM__Depreciation_Book__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varADMEffectiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetSubGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDepreciationMethodID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFixedAssetCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varFixedAssetCurrencyISOCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFixedAssetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSourceAppliedDepreciationMethodID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimePeriodBasis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTypeAccounting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTypeCustom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTypeMACRS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTypeTax</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
