force-app/main/default/flows/FFX_FFRM_Populate_GLA_Name_on_Milestone_Source_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Service_Product_on_Milestone_Blank</name>
        <label>Is Service Product on Milestone Blank ?</label>
        <locationX>453</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SP_on_Milestone_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MilestoneServiceProductID_OUTPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Product_from_Project</targetReference>
            </connector>
            <label>Yes - SP on Milestone is Blank</label>
        </rules>
        <rules>
            <name>No_SP_on_Milestone_is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MilestoneServiceProductID_OUTPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GLA_Record_ID_from_Service_Product</targetReference>
            </connector>
            <label>No - SP on Milestone is Completed</label>
        </rules>
    </decisions>
    <description>This flow populates the 2 GLA Name fields on the Milestone used by Rev Rec Settings.  If there is no SP on the Milestone to get the GLAs from then it looks at the Project for its SP and thus GLAs</description>
    <interviewLabel>FFRM - Populate GLA Name on Milestone Source Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FFRM - Populate GLA Name on Milestone Source Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_GLA_Name</name>
        <label>Get GLA Name</label>
        <locationX>1001</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_GLA_Name_RR_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesRevenueAccountID_OUTPUT</elementReference>
            </value>
        </filters>
        <object>c2g__codaGeneralLedgerAccount__c</object>
        <outputAssignments>
            <assignToReference>SalesRevenueGLAName_OUTPUT</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_GLA_Name_RR_Account</name>
        <label>Get GLA Name - RR Account</label>
        <locationX>1193</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Milestone_with_Sales_Revenue_GLA_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesRevenueRRAccountID_OUTPUT</elementReference>
            </value>
        </filters>
        <object>c2g__codaGeneralLedgerAccount__c</object>
        <outputAssignments>
            <assignToReference>SalesRevenueRRGLAName_OUTPUT</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_GLA_Record_ID_from_Service_Product</name>
        <label>Get GLA Record ID from Service Product</label>
        <locationX>809</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_GLA_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MilestoneServiceProductID_OUTPUT</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>SalesRevenueRRAccountID_OUTPUT</assignToReference>
            <field>FFX_RevenueRecognitionAccount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SalesRevenueAccountID_OUTPUT</assignToReference>
            <field>c2g__CODASalesRevenueAccount__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestone_Data</name>
        <label>Get Milestone Data</label>
        <locationX>260</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Service_Product_on_Milestone_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MilestoneRecordID_INPUT</elementReference>
            </value>
        </filters>
        <object>pse__Milestone__c</object>
        <outputAssignments>
            <assignToReference>MilestoneServiceProductID_OUTPUT</assignToReference>
            <field>ffpsai__ServicesProduct__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MilestoneProjectID_OUTPUT</assignToReference>
            <field>pse__Project__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Product_from_Project</name>
        <label>Get Service Product from Project</label>
        <locationX>468</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_GLA_Record_ID_from_Service_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MilestoneProjectID_OUTPUT</elementReference>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <outputAssignments>
            <assignToReference>MilestoneServiceProductID_OUTPUT</assignToReference>
            <field>ffpsai__ServicesProduct__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Milestone_with_Sales_Revenue_GLA_Name</name>
        <label>Update Milestone with Sales Revenue GLA Name</label>
        <locationX>1415</locationX>
        <locationY>47</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MilestoneRecordID_INPUT</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FFX_Rev_Rec_Sales_GLA__c</field>
            <value>
                <elementReference>SalesRevenueGLAName_OUTPUT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_Rev_Rec_Sales_RRGLA__c</field>
            <value>
                <elementReference>SalesRevenueRRGLAName_OUTPUT</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Milestone__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Milestone_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MilestoneProjectID_OUTPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MilestoneRecordID_INPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MilestoneServiceProductID_OUTPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectServiceProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesRevenueAccountID_OUTPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesRevenueGLAName_OUTPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesRevenueRRAccountID_OUTPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesRevenueRRGLAName_OUTPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
