force-app/main/default/flows/FFX_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Migrated from the: FFX Account workflow rule
Workflow rule description: Updates fields on Account for FFX&quot;</description>
    <formulas>
        <name>FFX_Set_Account_Case_Safe_IDFormula</name>
        <dataType>String</dataType>
        <expression>CASESAFEID($Record.Id)</expression>
    </formulas>
    <label>FFX Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Case_Safe_Account_Id</name>
        <label>Set Case Safe Account Id</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Set_Currency</targetReference>
        </connector>
        <inputAssignments>
            <field>FFX_CaseSafeAccountID__c</field>
            <value>
                <elementReference>FFX_Set_Account_Case_Safe_IDFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Currency</name>
        <label>Set Currency</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__CODAAccountTradingCurrency__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>c2g__CODAAccountTradingCurrency__c</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Case_Safe_Account_Id</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
