force-app/main/default/flows/FFX_FAMAddDepreciationToFixedAsset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>263</locationX>
        <locationY>1288</locationY>
        <assignmentItems>
            <assignToReference>colDepreciationSchedules</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objDepreciationSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Cumulative</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Schedule_Value_Assignment</name>
        <label>Schedule Value Assignment</label>
        <locationX>419</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varEffectiveDepreciationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlFirstScheduleDepreciationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScheduleCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalDepreciationToDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Schedules_Remain</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Schedule</name>
        <label>Set Schedule</label>
        <locationX>419</locationX>
        <locationY>1288</locationY>
        <assignmentItems>
            <assignToReference>objDepreciationSchedule.FAM__Fixed_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objDepreciationSchedule.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrencyISOCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objDepreciationSchedule.FAM__Depreciation_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlMonthlyDepreciationAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objDepreciationSchedule.FAM__Effective_Depreciation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEffectiveDepreciationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objDepreciationSchedule.FAM__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objDepreciationSchedule.FAM__Depreciation_Book__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDepreciationBookID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Defaults</name>
        <label>Store Defaults</label>
        <locationX>450</locationX>
        <locationY>58</locationY>
        <assignmentItems>
            <assignToReference>varServiceLifeMonths</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDefaultSLMonths</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDateInService</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDefaultDateInService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_ValuesBk</name>
        <label>Store Values</label>
        <locationX>572</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>varDateInService</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetActivationDate_Bk</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceLifeMonths</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceLifeMonths_Bk</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSalvageValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salvage_End_of_Life_Value_Bk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Book</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_ValuesBS</name>
        <label>Store Values</label>
        <locationX>568</locationX>
        <locationY>728</locationY>
        <assignmentItems>
            <assignToReference>varDateInService</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetActivationDate_BS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceLifeMonths</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceLifeMonths_BS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSalvageValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salvage_End_of_Life_Value_BS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Schedules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_ValuesN</name>
        <label>Store Values</label>
        <locationX>101</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>varDateInService</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetActivationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceLifeMonths</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceLifeMonths</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSalvageValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salvage_End_of_Life_Value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Cumulative</name>
        <label>Update Cumulative</label>
        <locationX>263</locationX>
        <locationY>1093</locationY>
        <assignmentItems>
            <assignToReference>varTotalDepreciationToDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fmlMonthlyDepreciationAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScheduleCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEffectiveDepreciationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlNextDepreciationDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Schedules_Remain</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>activateAsset</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Activate Asset {!varFixedAssetName} now. Depreciation schedules will be available for processing.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </choices>
    <choices>
        <name>approveAsset</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Leave Asset {!varFixedAssetName} in Approved Status. Depreciation can be reviewed but will not be processed.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>FAMActive</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Activate Asset {!varFixedAssetName} now. Depreciation schedules will be available for processing.&lt;/span&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>627</locationX>
        <locationY>60</locationY>
        <defaultConnector>
            <targetReference>Error_Cancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Disposed/Cancelled</defaultConnectorLabel>
        <rules>
            <name>Not_Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varFixedAssetStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFixedAssetStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFixedAssetStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFixedAssetStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_NotApproved</targetReference>
            </connector>
            <label>Not Approved</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varFixedAssetStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFixedAssetStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Active_Depreciation</name>
        <label>Has Active Depreciation</label>
        <locationX>626</locationX>
        <locationY>425</locationY>
        <defaultConnector>
            <targetReference>Get_Depreciation_Schedules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HDSYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDepreciationScheduleID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Depreciated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Depreciation_Book</name>
        <label>Has Depreciation Book</label>
        <locationX>269</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>Confirm_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HDBYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDepreciationBookID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Processed_Schedules</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Replace_Schedules</name>
        <label>Replace Schedules</label>
        <locationX>878</locationX>
        <locationY>667</locationY>
        <defaultConnector>
            <targetReference>Confirm_Replace_B</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HDSYes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDepreciationScheduleID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Replace_B_S</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Required_Status</name>
        <label>Required Status</label>
        <locationX>901</locationX>
        <locationY>1096</locationY>
        <defaultConnectorLabel>Leave Approved</defaultConnectorLabel>
        <rules>
            <name>Activate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>activateAsset</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Asset</targetReference>
            </connector>
            <label>Activate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Schedules_Remain</name>
        <label>Schedules Remain</label>
        <locationX>411</locationX>
        <locationY>1095</locationY>
        <defaultConnector>
            <targetReference>Create_Schedules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SRYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varScheduleCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varServiceLifeMonths</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Schedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>fmlDefaultDateInService</name>
        <dataType>Date</dataType>
        <expression>IF(
ISBLANK({!varDateInService}),
IF(DAY({!varAcquisitionDate})=1, {!varAcquisitionDate},
(({!varAcquisitionDate} - DAY({!varAcquisitionDate}) + 40) - DAY(({!varAcquisitionDate} - DAY({!varAcquisitionDate}) + 40)) + 1)),
{!varDateInService}
)</expression>
    </formulas>
    <formulas>
        <name>fmlDefaultSLMonths</name>
        <dataType>Number</dataType>
        <expression>ROUND({!varDefaultSLYears}*12,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fmlDepreciationBookName</name>
        <dataType>String</dataType>
        <expression>{!varFixedAssetName}&amp;&quot; Accounting Depreciation Book&quot;</expression>
    </formulas>
    <formulas>
        <name>fmlFirstScheduleDepreciationDate</name>
        <dataType>Date</dataType>
        <expression>IF(DAY({!varDateInService})&gt;15,
({!varDateInService} - DAY({!varDateInService}) + 80) - DAY(({!varDateInService} - DAY({!varDateInService}) + 80)),
({!varDateInService} - DAY({!varDateInService}) + 40) - DAY(({!varDateInService} - DAY({!varDateInService}) + 40)))</expression>
    </formulas>
    <formulas>
        <name>fmlMonthlyDepreciationAmount</name>
        <dataType>Number</dataType>
        <expression>ROUND(({!varScheduleCount}/{!varServiceLifeMonths}*({!varAssetCost}-{!varSalvageValue})-{!varTotalDepreciationToDate}),2)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fmlNextDepreciationDate</name>
        <dataType>Date</dataType>
        <expression>({!varEffectiveDepreciationDate} + 40) - DAY(({!varEffectiveDepreciationDate} + 40))</expression>
    </formulas>
    <formulas>
        <name>fmlServiceLifeInYears</name>
        <dataType>Number</dataType>
        <expression>ROUND({!varServiceLifeMonths}/12,2)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FAM Add Depreciation to Fixed Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FAM Add Depreciation to Fixed Asset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Method</name>
        <label>Add Method</label>
        <locationX>275</locationX>
        <locationY>889</locationY>
        <connector>
            <targetReference>Schedule_Value_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varCurrencyISOCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Depreciation_Book__c</field>
            <value>
                <elementReference>varDepreciationBookID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Depreciation_Method__c</field>
            <value>
                <elementReference>varDepreciationMethodID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Effective_Date__c</field>
            <value>
                <elementReference>varDateInService</elementReference>
            </value>
        </inputAssignments>
        <object>FAM__Applied_Depreciation_Method__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Book</name>
        <label>Create Book</label>
        <locationX>275</locationX>
        <locationY>731</locationY>
        <assignRecordIdToReference>varDepreciationBookID</assignRecordIdToReference>
        <connector>
            <targetReference>Add_Method</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varCurrencyISOCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Fixed_Asset__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Salvage_Value__c</field>
            <value>
                <elementReference>varSalvageValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Service_Life_in_Years__c</field>
            <value>
                <elementReference>fmlServiceLifeInYears</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Time_Period_Basis__c</field>
            <value>
                <stringValue>Month</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fmlDepreciationBookName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varAssetAccountingBookRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>FAM__Depreciation_Book__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Schedules</name>
        <label>Create Schedules</label>
        <locationX>584</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Confirm_Activation</targetReference>
        </connector>
        <inputReference>colDepreciationSchedules</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Book</name>
        <label>Delete Book</label>
        <locationX>420</locationX>
        <locationY>570</locationY>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDepreciationBookID</elementReference>
            </value>
        </filters>
        <object>FAM__Depreciation_Book__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Schedules</name>
        <label>Delete Schedules</label>
        <locationX>420</locationX>
        <locationY>729</locationY>
        <connector>
            <targetReference>Delete_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FAM__Depreciation_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDepreciationBookID</elementReference>
            </value>
        </filters>
        <object>FAM__FA_Depreciation_Schedule__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Asset_Info</name>
        <label>Get Asset Info</label>
        <locationX>276</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Defaults</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FAM__Fixed_Asset__c</object>
        <outputAssignments>
            <assignToReference>varCurrencyISOCode</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAssetCost</assignToReference>
            <field>FAM__Asset_Cost__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAcquisitionDate</assignToReference>
            <field>FAM__Date_Acquired__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDateInService</assignToReference>
            <field>FAM__Date_In_Service__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFixedAssetStatus</assignToReference>
            <field>FAM__Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDefaultSLYears</assignToReference>
            <field>FFX_DefaultSLY__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFixedAssetName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Depreciation_Book</name>
        <label>Get Depreciation Book</label>
        <locationX>277</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Depreciation_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FAM__Fixed_Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetAccountingBookRecordTypeID</elementReference>
            </value>
        </filters>
        <object>FAM__Depreciation_Book__c</object>
        <outputAssignments>
            <assignToReference>varDepreciationBookID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Depreciation_Schedules</name>
        <label>Get Depreciation Schedules</label>
        <locationX>886</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Replace_Schedules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FAM__Depreciation_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDepreciationBookID</elementReference>
            </value>
        </filters>
        <object>FAM__FA_Depreciation_Schedule__c</object>
        <outputAssignments>
            <assignToReference>varDepreciationScheduleID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Method</name>
        <label>Get Method</label>
        <locationX>453</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Depreciation_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Straight Line</stringValue>
            </value>
        </filters>
        <object>FAM__FA_Depreciation_Method__c</object>
        <outputAssignments>
            <assignToReference>varDepreciationMethodID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Processed_Schedules</name>
        <label>Get Processed Schedules</label>
        <locationX>459</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Active_Depreciation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FAM__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FAM__Depreciation_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDepreciationBookID</elementReference>
            </value>
        </filters>
        <filters>
            <field>FAM__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Exported</stringValue>
            </value>
        </filters>
        <object>FAM__FA_Depreciation_Schedule__c</object>
        <outputAssignments>
            <assignToReference>varDepreciationScheduleID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>635</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Method</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset Accounting Book</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FAM__Depreciation_Book__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varAssetAccountingBookRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Asset</name>
        <label>Activate Asset</label>
        <locationX>909</locationX>
        <locationY>884</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FAM__Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>FAM__Fixed_Asset__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>275</locationX>
        <locationY>569</locationY>
        <connector>
            <targetReference>Create_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FAM__Date_In_Service__c</field>
            <value>
                <elementReference>varDateInService</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>FAM__Fixed_Asset__c</object>
    </recordUpdates>
    <screens>
        <name>Confirm_Activation</name>
        <label>Confirm Activation</label>
        <locationX>747</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Required_Status</targetReference>
        </connector>
        <fields>
            <name>confirmComplete</name>
            <fieldText>&lt;p&gt;A Depreciation Book &amp;amp; Schedules have been created for Fixed Asset {!varFixedAssetName}. The asset can now be activated, or left as approved.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Set_Action</name>
            <choiceReferences>activateAsset</choiceReferences>
            <choiceReferences>approveAsset</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>activateAsset</defaultSelectedChoiceReference>
            <fieldText>Required Action:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;The life is stored on the asset in years, but shown here as months for clarity. One depreciation schedule is created for each month of depreciation.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_New</name>
        <label>Confirm (New)</label>
        <locationX>101</locationX>
        <locationY>423</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_ValuesN</targetReference>
        </connector>
        <fields>
            <name>confirmNew</name>
            <fieldText>&lt;p&gt;A Depreciation Book &amp;amp; Schedules for Fixed Asset {!varFixedAssetName} can now be created; please confirm the number of periods for depreciation, the start date for depreciation (asset activation) and the salvage (end of life) value for the asset:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AssetActivationDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>fmlDefaultDateInService</elementReference>
            </defaultValue>
            <fieldText>AssetActivationDate</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Depreciation schedules are &apos;full month&apos; values. If the activation date is on or before 15th of the month a full schedule is created for that month, otherwise the first depreciation schedule is in the following month.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ServiceLifeMonths</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>fmlDefaultSLMonths</elementReference>
            </defaultValue>
            <fieldText>Asset Life (Months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Salvage_End_of_Life_Value</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Salvage (End of Life) Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;The life is stored on the asset in years, but shown here as months for clarity. One depreciation schedule is created for each month of depreciation.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Replace_B</name>
        <label>Confirm (Replace Book)</label>
        <locationX>688</locationX>
        <locationY>569</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_ValuesBk</targetReference>
        </connector>
        <fields>
            <name>confirmNew_0_0</name>
            <fieldText>&lt;p&gt;A Depreciation Book &amp;amp; Schedules for Fixed Asset {!varFixedAssetName} can now be created, replacing the existing book and adding depreciation records; please confirm the number of periods for depreciation, the start date for depreciation (asset activation) and the salvage (end of life) value for the asset:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AssetActivationDate_Bk</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>fmlDefaultDateInService</elementReference>
            </defaultValue>
            <fieldText>AssetActivationDate</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Depreciation schedules are &apos;full month&apos; values. If the activation date is on or before 15th of the month a full schedule is created for that month, otherwise the first depreciation schedule is in the following month.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ServiceLifeMonths_Bk</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>fmlDefaultSLMonths</elementReference>
            </defaultValue>
            <fieldText>Asset Life (Months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Salvage_End_of_Life_Value_Bk</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Salvage (End of Life) Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;The life is stored on the asset in years, but shown here as months for clarity. One depreciation schedule is created for each month of depreciation.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Replace_B_S</name>
        <label>Confirm (Replace B&amp;S)</label>
        <locationX>684</locationX>
        <locationY>729</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_ValuesBS</targetReference>
        </connector>
        <fields>
            <name>confirmNew_0</name>
            <fieldText>&lt;p&gt;A Depreciation Book &amp;amp; Schedules for Fixed Asset {!varFixedAssetName} can now be created, replacing the existing records; please confirm the number of periods for depreciation, the start date for depreciation (asset activation) and the salvage (end of life) value for the asset:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AssetActivationDate_BS</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>fmlDefaultDateInService</elementReference>
            </defaultValue>
            <fieldText>AssetActivationDate</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Depreciation schedules are &apos;full month&apos; values. If the activation date is on or before 15th of the month a full schedule is created for that month, otherwise the first depreciation schedule is in the following month.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ServiceLifeMonths_BS</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>fmlDefaultSLMonths</elementReference>
            </defaultValue>
            <fieldText>Asset Life (Months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Salvage_End_of_Life_Value_BS</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Salvage (End of Life) Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;The life is stored on the asset in years, but shown here as months for clarity. One depreciation schedule is created for each month of depreciation.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Cancelled</name>
        <label>Error (Cancelled)</label>
        <locationX>981</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorCancelled</name>
            <fieldText>&lt;p&gt;Fixed Asset {!varFixedAssetName} has been {!varFixedAssetStatus}, so depreciation cannot be amended/added.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Depreciated</name>
        <label>Error (Depreciated)</label>
        <locationX>982</locationX>
        <locationY>319</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorHasDepreciation</name>
            <fieldText>&lt;p&gt;Fixed Asset {!varFixedAssetName} has already started depreciation, so new schedules cannot be created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_NotApproved</name>
        <label>Error (Not Approved)</label>
        <locationX>981</locationX>
        <locationY>169</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorNotApproved</name>
            <fieldText>&lt;p&gt;Fixed Asset {!varFixedAssetName} has not yet been approved. Depreciation cannot be added/amended until the Asset is approved.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>90</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>Get_Asset_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colDepreciationSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FAM__FA_Depreciation_Schedule__c</objectType>
    </variables>
    <variables>
        <name>objDepreciationSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FAM__FA_Depreciation_Schedule__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAcquisitionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetAccountingBookRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varCurrencyISOCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDateInService</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AssetActivationDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>varDefaultSLYears</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varDepreciationBookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDepreciationMethodID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDepreciationScheduleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEffectiveDepreciationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFixedAssetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFixedAssetStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSalvageValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varScheduleCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varServiceLifeMonths</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varTotalDepreciationToDate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
