force-app/main/default/flows/FFX_FAMFixedAssetActiveAmendment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Schedule_Values</name>
        <label>Assign Schedule Values</label>
        <locationX>597</locationX>
        <locationY>1383</locationY>
        <assignmentItems>
            <assignToReference>objDepreciationSchedule.FAM__Depreciation_Book__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDepreciationBookID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objDepreciationSchedule.FAM__Depreciation_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaMonthDepreciationAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objDepreciationSchedule.FAM__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objDepreciationSchedule.FAM__Effective_Depreciation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMonthEndDepreciationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objDepreciationSchedule.FAM__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objDepreciationSchedule.FAM__Fixed_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objDepreciationSchedule.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Info.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Variables_CO_Assign_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_CO</name>
        <label>Count</label>
        <locationX>1408</locationX>
        <locationY>877</locationY>
        <assignmentItems>
            <assignToReference>countSchedules</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Pending_Schedules</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Variables_CO_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Variables</name>
        <label>Increment Variables</label>
        <locationX>604</locationX>
        <locationY>707</locationY>
        <assignmentItems>
            <assignToReference>countSchedules</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMonthEndDepreciationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextMonthEndDepreciationDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_CO</name>
        <label>Set Variables</label>
        <locationX>1127</locationX>
        <locationY>877</locationY>
        <assignmentItems>
            <assignToReference>countSchedules</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pending_Schedules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_CO_0</name>
        <label>Set Variables</label>
        <locationX>1094</locationX>
        <locationY>1064</locationY>
        <assignmentItems>
            <assignToReference>Loop_Updates.FAM__Depreciation_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaMonthDepreciationAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Variables_CO_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_CO_0_0</name>
        <label>Set Variables</label>
        <locationX>1162</locationX>
        <locationY>1198</locationY>
        <assignmentItems>
            <assignToReference>cumulativeDepreciation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaMonthDepreciationAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countRevisions</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_CO_0_0_0</name>
        <label>Set Variables</label>
        <locationX>751</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>countSchedules</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEndOfLifeDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_of_Life</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMonthEndDepreciationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLastActiveScheduleDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>holdStartDateforNewSchedules</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextMonthEndDepreciationDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_CO_Assign</name>
        <label>Set Variables</label>
        <locationX>1408</locationX>
        <locationY>1064</locationY>
        <assignmentItems>
            <assignToReference>countRevisions</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cumulativeDepreciation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Book_Record.FAM__Accumulated_Depreciation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DBAccumulatedDepreciationAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Book_Record.FAM__Accumulated_Depreciation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_CO_Assign_0</name>
        <label>Set Variables</label>
        <locationX>752</locationX>
        <locationY>1231</locationY>
        <assignmentItems>
            <assignToReference>countRevisions</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cumulativeDepreciation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Book_Record.FAM__Accumulated_Depreciation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DBAccumulatedDepreciationAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Book_Record.FAM__Accumulated_Depreciation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMonthEndDepreciationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>holdStartDateforNewSchedules</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_New_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_CO_Assign_0_0</name>
        <label>Set Variables</label>
        <locationX>669</locationX>
        <locationY>1555</locationY>
        <assignmentItems>
            <assignToReference>countRevisions</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cumulativeDepreciation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaMonthDepreciationAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMonthEndDepreciationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextMonthEndDepreciationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colDepreciationSchedules</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objDepreciationSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_New_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Count</name>
        <label>Store Count</label>
        <locationX>1787</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>countSchedules</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Schedule_Count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Book</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Schedules</name>
        <label>Active Schedules</label>
        <locationX>779</locationX>
        <locationY>537</locationY>
        <defaultConnector>
            <targetReference>Can_Amend_Add_Depn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>hasYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLastActiveScheduleDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Pending_Schedules</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment</name>
        <label>Amendment</label>
        <locationX>946</locationX>
        <locationY>882</locationY>
        <defaultConnector>
            <targetReference>Set_Variables_CO_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Life or Both</defaultConnectorLabel>
        <rules>
            <name>Cost_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Asset_Cost</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Asset_Info.FAM__Asset_Cost__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>End_of_Life</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varEndOfLifeDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables_CO</targetReference>
            </connector>
            <label>Cost Only</label>
        </rules>
        <rules>
            <name>No_Changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>End_of_Life</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varEndOfLifeDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Asset_Cost</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Asset_Info.FAM__Asset_Cost__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NA_No_Changes</targetReference>
            </connector>
            <label>No Changes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>417</locationX>
        <locationY>201</locationY>
        <defaultConnector>
            <targetReference>NA_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Approved_or_Active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Info.FAM__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Asset_Info.FAM__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Book</targetReference>
            </connector>
            <label>Approved or Active</label>
        </rules>
        <rules>
            <name>Cancelled_Disposed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Info.FAM__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disposed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Asset_Info.FAM__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Combined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Asset_Info.FAM__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NA_Closed</targetReference>
            </connector>
            <label>Cancelled/Disposed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cost_Updated</name>
        <label>Cost Updated</label>
        <locationX>945</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Add_Depreciation_To_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>cuYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>approvalAssetCost</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Asset_Info.FAM__Asset_Cost__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset_Status_CostAmend</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Book</name>
        <label>Has Book</label>
        <locationX>613</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Can_Amend_Add_Depn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>hbYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDepreciationBookID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Active_Schedules</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_New_Schedule</name>
        <label>Need Schedule</label>
        <locationX>744</locationX>
        <locationY>1387</locationY>
        <defaultConnector>
            <targetReference>Assign_Schedule_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countRevisions</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>countSchedules</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Schedules</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Schedule</name>
        <label>Need Schedule</label>
        <locationX>595</locationX>
        <locationY>880</locationY>
        <defaultConnector>
            <targetReference>OK_to_Amend</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>NSYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nextMonthEndDepreciationDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varEndOfLifeDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Variables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OK_to_Amend</name>
        <label>OK to Amend</label>
        <locationX>595</locationX>
        <locationY>1062</locationY>
        <defaultConnector>
            <targetReference>New_Date_is_too_early</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OKtcYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countSchedules</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Pending_Schedules</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pending_Schedules</name>
        <label>Pending Schedules</label>
        <locationX>1095</locationX>
        <locationY>536</locationY>
        <defaultConnector>
            <targetReference>NA_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>hpsYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEndOfLifeDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Book_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>changeDetail</name>
        <dataType>String</dataType>
        <expression>&quot;Fixed Asset Changed. Cost = &quot; &amp; TEXT({!New_Asset_Cost})&amp;&quot;, end of life = &quot;&amp;TEXT({!End_of_Life})</expression>
    </formulas>
    <formulas>
        <name>currentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>formulaMonthDepreciationAmount</name>
        <dataType>Number</dataType>
        <expression>((({!New_Asset_Cost} - {!Get_Book_Record.FAM__Accumulated_Depreciation__c}) * ({!countRevisions}/{!countSchedules})) + {!Get_Book_Record.FAM__Accumulated_Depreciation__c}) - {!cumulativeDepreciation}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>nextMonthEndDepreciationDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!varMonthEndDepreciationDate}),
(({!varLastActiveScheduleDate} - DAY({!varLastActiveScheduleDate}) + 70) - DAY((({!varLastActiveScheduleDate} - DAY({!varLastActiveScheduleDate}) + 70)))),
(({!varMonthEndDepreciationDate} - DAY({!varMonthEndDepreciationDate}) + 70) - DAY((({!varMonthEndDepreciationDate} - DAY({!varMonthEndDepreciationDate}) + 70))))
)</expression>
    </formulas>
    <formulas>
        <name>revisedServiceLifeYears</name>
        <dataType>Number</dataType>
        <expression>ROUND({!countSchedules}/12, 2)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FAM Fixed Asset (Active) Amendment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FAM Fixed Asset (Active) Amendment</label>
    <loops>
        <name>Loop_Updates</name>
        <label>Loop Updates</label>
        <locationX>1266</locationX>
        <locationY>1064</locationY>
        <collectionReference>Get_Pending_Schedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Variables_CO_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Schedules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Schedules</name>
        <label>Add Schedules</label>
        <locationX>916</locationX>
        <locationY>1385</locationY>
        <connector>
            <targetReference>Update_Asset_Status_CostAmend_0</targetReference>
        </connector>
        <inputReference>colDepreciationSchedules</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Audit_Record</name>
        <label>Create Audit Record</label>
        <locationX>1609</locationX>
        <locationY>1066</locationY>
        <connector>
            <targetReference>Asset_Cost_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>FFX_ChangeDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_ChangeDetail__c</field>
            <value>
                <elementReference>changeDetail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_ChangeType__c</field>
            <value>
                <stringValue>Asset Amended</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_ChangedBy__c</field>
            <value>
                <elementReference>currentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_FixedAsset__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>FFX_FAMAssetAudit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Pending_Schedules</name>
        <label>Delete Pending Schedules</label>
        <locationX>603</locationX>
        <locationY>1231</locationY>
        <connector>
            <targetReference>Set_Variables_CO_Assign_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FAM__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FAM__Depreciation_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDepreciationBookID</elementReference>
            </value>
        </filters>
        <filters>
            <field>FAM__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>FAM__FA_Depreciation_Schedule__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Asset_Info</name>
        <label>Get Asset Info</label>
        <locationX>424</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FAM__Fixed_Asset__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Book</name>
        <label>Get Book</label>
        <locationX>423</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FAM__Fixed_Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FAM__Depreciation_Book__c</object>
        <outputAssignments>
            <assignToReference>varDepreciationBookID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Book_Record</name>
        <label>Get Book</label>
        <locationX>1104</locationX>
        <locationY>712</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Can_Amend_Add_Depn_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FAM__Fixed_Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FAM__Depreciation_Book__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pending_Schedules</name>
        <label>Get Pending Schedules</label>
        <locationX>1268</locationX>
        <locationY>877</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_CO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FAM__Depreciation_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDepreciationBookID</elementReference>
            </value>
        </filters>
        <filters>
            <field>FAM__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FAM__FA_Depreciation_Schedule__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FAM__Depreciation_Amount__c</queriedFields>
        <queriedFields>FAM__Effective_Depreciation_Date__c</queriedFields>
        <sortField>FAM__Effective_Depreciation_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Schedule_Count</name>
        <label>Get Schedule Count</label>
        <locationX>1787</locationX>
        <locationY>1404</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FAM__Depreciation_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDepreciationBookID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FAM__FA_Depreciation_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Has_Active_Schedules</name>
        <label>Has Active Schedules</label>
        <locationX>620</locationX>
        <locationY>535</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Schedules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FAM__Depreciation_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDepreciationBookID</elementReference>
            </value>
        </filters>
        <filters>
            <field>FAM__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Exported</stringValue>
            </value>
        </filters>
        <object>FAM__FA_Depreciation_Schedule__c</object>
        <outputAssignments>
            <assignToReference>varLastActiveScheduleDate</assignToReference>
            <field>FAM__Effective_Depreciation_Date__c</field>
        </outputAssignments>
        <sortField>FAM__Effective_Depreciation_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Has_Pending_Schedules</name>
        <label>Has Pending Schedules</label>
        <locationX>951</locationX>
        <locationY>537</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pending_Schedules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FAM__Depreciation_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDepreciationBookID</elementReference>
            </value>
        </filters>
        <filters>
            <field>FAM__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>FAM__FA_Depreciation_Schedule__c</object>
        <outputAssignments>
            <assignToReference>varEndOfLifeDate</assignToReference>
            <field>FAM__Effective_Depreciation_Date__c</field>
        </outputAssignments>
        <sortField>FAM__Effective_Depreciation_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_Status_Cost</name>
        <label>Update Asset Cost</label>
        <locationX>1131</locationX>
        <locationY>191</locationY>
        <connector>
            <targetReference>Update_Asset_Status_CostApprove</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FAM__Asset_Cost__c</field>
            <value>
                <elementReference>approvalAssetCost</elementReference>
            </value>
        </inputAssignments>
        <object>FAM__Fixed_Asset__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset_Status_Cost_0</name>
        <label>Update Asset Cost</label>
        <locationX>1453</locationX>
        <locationY>1404</locationY>
        <connector>
            <targetReference>Update_Asset_Status_CostApprove_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FAM__Asset_Cost__c</field>
            <value>
                <elementReference>New_Asset_Cost</elementReference>
            </value>
        </inputAssignments>
        <object>FAM__Fixed_Asset__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>To allow cost update, asset status cannot be Approved/Active</description>
        <name>Update_Asset_Status_CostAmend</name>
        <label>Update Asset Status</label>
        <locationX>955</locationX>
        <locationY>192</locationY>
        <connector>
            <targetReference>Update_Asset_Status_Cost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FAM__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>FAM__Fixed_Asset__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>To allow cost update, asset status cannot be Approved/Active</description>
        <name>Update_Asset_Status_CostAmend_0</name>
        <label>Update Asset Status</label>
        <locationX>1276</locationX>
        <locationY>1405</locationY>
        <connector>
            <targetReference>Update_Asset_Status_Cost_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FAM__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>FAM__Fixed_Asset__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set back to Approved</description>
        <name>Update_Asset_Status_CostApprove</name>
        <label>Update Asset Status</label>
        <locationX>1282</locationX>
        <locationY>191</locationY>
        <connector>
            <targetReference>Add_Depreciation_To_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FAM__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>FAM__Fixed_Asset__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set back to Approved</description>
        <name>Update_Asset_Status_CostApprove_0</name>
        <label>Update Asset Status</label>
        <locationX>1606</locationX>
        <locationY>1404</locationY>
        <connector>
            <targetReference>Get_Schedule_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FAM__Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>FAM__Fixed_Asset__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Book</name>
        <label>Update Book</label>
        <locationX>1607</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Create_Audit_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDepreciationBookID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FAM__Accumulated_Depreciation__c</field>
            <value>
                <elementReference>DBAccumulatedDepreciationAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_RevisedLifeYears__c</field>
            <value>
                <elementReference>revisedServiceLifeYears</elementReference>
            </value>
        </inputAssignments>
        <object>FAM__Depreciation_Book__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Schedules</name>
        <label>Update Schedules</label>
        <locationX>1276</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Update_Asset_Status_CostAmend_0</targetReference>
        </connector>
        <inputReference>Get_Pending_Schedules</inputReference>
    </recordUpdates>
    <screens>
        <name>Asset_Cost_Updated</name>
        <label>Asset Cost Updated</label>
        <locationX>1612</locationX>
        <locationY>886</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorCancelled_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;The Fixed Asset has been updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Can_Amend_Add_Depn</name>
        <label>Can Amend &amp; Add Depn</label>
        <locationX>787</locationX>
        <locationY>365</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cost_Updated</targetReference>
        </connector>
        <fields>
            <name>errorCancelled_0_0</name>
            <fieldText>&lt;p&gt;This asset has not yet started depreciation. The cost may be updated if required, and the lifespan specified in the next step.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>approvalAssetCost</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Asset_Info.FAM__Asset_Cost__c</elementReference>
            </defaultValue>
            <fieldText>Asset Cost</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Can_Amend_Add_Depn_0</name>
        <label>Can Amend &amp; Add Depn</label>
        <locationX>954</locationX>
        <locationY>712</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Amendment</targetReference>
        </connector>
        <fields>
            <name>errorCancelled_0_0_0</name>
            <fieldText>&lt;p&gt;This asset is currently active and has been partially depreciated. The cost and life may be amended and the asset will be adjusted accordingly:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Asset_Cost</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Asset_Info.FAM__Asset_Cost__c</elementReference>
            </defaultValue>
            <fieldText>New Asset Cost</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;The revised cost must be greater than the accumulated depreciation to date.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!New_Asset_Cost}&gt;{!Get_Book_Record.00Na500001fobpm__NotFound}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>End_of_Life</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varEndOfLifeDate</elementReference>
            </defaultValue>
            <fieldText>End of Life</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;The end of life must be later than the last processed depreciation date of {!varLastActiveScheduleDate}.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!End_of_Life} &gt;{!varLastActiveScheduleDate}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NA_Closed</name>
        <label>NA Closed</label>
        <locationX>218</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorCancelled</name>
            <fieldText>&lt;p&gt;This asset cannot be amended because it is {!Get_Asset_Info.FAM__Status__c}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NA_Complete</name>
        <label>NA Complete</label>
        <locationX>1280</locationX>
        <locationY>534</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorCancelled_0_0_0_0</name>
            <fieldText>&lt;p&gt;This asset has been fully depreciated, so cannot be amended.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NA_New</name>
        <label>NA New</label>
        <locationX>621</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorCancelled_0</name>
            <fieldText>&lt;p&gt;This asset has not yet been approved/activated, so can be updated directly.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NA_No_Changes</name>
        <label>NA No Changes</label>
        <locationX>955</locationX>
        <locationY>1061</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorCancelled_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;No changes were requested so the asset will not be amended.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Date_is_too_early</name>
        <label>New Date is too early</label>
        <locationX>435</locationX>
        <locationY>1061</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorCancelled_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;The end of life date must be at least one month later than the last processed depreciation schedule. No changes can be made.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Asset_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Depreciation_To_Asset</name>
        <label>Add Depreciation</label>
        <locationX>1281</locationX>
        <locationY>362</locationY>
        <flowName>FFX_FAMAddDepreciationToFixedAsset</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>colDepreciationSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FAM__FA_Depreciation_Schedule__c</objectType>
    </variables>
    <variables>
        <name>countRevisions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countSchedules</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>cumulativeDepreciation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DBAccumulatedDepreciationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>holdStartDateforNewSchedules</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objDepreciationSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FAM__FA_Depreciation_Schedule__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDepreciationBookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEndOfLifeDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastActiveScheduleDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMonthEndDepreciationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
