force-app/main/default/flows/FFX_SM_Reprocess_Payable_Invoice_from_AP_Voucher.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Can_be_Reprocessed</name>
        <label>Can be Reprocessed</label>
        <locationX>181</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>NoStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Status)</defaultConnectorLabel>
        <rules>
            <name>CBRYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAPVoucherStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Matched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPINID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_APV_Accounting_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAPVoucherStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Matched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPINID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PIN_Name</targetReference>
            </connector>
            <label>No (Matched)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Accounting_Record_s</name>
        <label>Has Accounting Record(s)</label>
        <locationX>471</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>Get_Messages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HARYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAPVAccountingRecordID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_prior_APV_Accounting_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Message_s</name>
        <label>Has Message(s)</label>
        <locationX>738</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>Process_to_PIN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HMYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPlatformMessageID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Prior_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>SM Reprocess Payable Invoice from AP Voucher {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SM Reprocess Payable Invoice from AP Voucher</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Remove_prior_APV_Accounting_records</name>
        <label>Clear Prior Acc</label>
        <locationX>480</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Get_Messages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FFX_AP_Voucher__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FFX_AP_Voucher_Accounting__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Prior_Message</name>
        <label>Remove Prior Message</label>
        <locationX>747</locationX>
        <locationY>392</locationY>
        <connector>
            <targetReference>Process_to_PIN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPlatformMessageID</elementReference>
            </value>
        </filters>
        <object>fferpcore__MessagingMessage__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_APV_Accounting_Records</name>
        <label>Get APV Accounting Records</label>
        <locationX>337</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Accounting_Record_s</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FFX_AP_Voucher__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FFX_AP_Voucher_Accounting__c</object>
        <outputAssignments>
            <assignToReference>varAPVAccountingRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Check &amp; reprocess APV &gt; PIN</description>
        <name>Get_APV_details</name>
        <label>Get APV details</label>
        <locationX>50</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Can_be_Reprocessed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SCMC__AP_Voucher__c</object>
        <outputAssignments>
            <assignToReference>varCurrencyISOCode</assignToReference>
            <field>FFX_CurrencyISOCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDeliverNow</assignToReference>
            <field>FFX_DeliverPINNow__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAPVoucherName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAPVoucherStatus</assignToReference>
            <field>SCMC__Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPINID</assignToReference>
            <field>msg_link_SMAPPI_id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Need to retrieve any prior messages and remove</description>
        <name>Get_Messages</name>
        <label>Get Messages</label>
        <locationX>637</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Message_s</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fferpcore__CorrelationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>fferpcore__State__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>fferpcore__State__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivering</stringValue>
            </value>
        </filters>
        <filters>
            <field>fferpcore__State__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Allocated</stringValue>
            </value>
        </filters>
        <object>fferpcore__MessagingMessage__c</object>
        <outputAssignments>
            <assignToReference>varPlatformMessageID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PIN_Name</name>
        <label>Get PIN Name</label>
        <locationX>189</locationX>
        <locationY>393</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Matched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPINID</elementReference>
            </value>
        </filters>
        <object>c2g__codaPurchaseInvoice__c</object>
        <outputAssignments>
            <assignToReference>varPINName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>No_Matched</name>
        <label>No - Matched</label>
        <locationX>47</locationX>
        <locationY>393</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMatched</name>
            <fieldText>&lt;p&gt;This AP Voucher ({!varAPVoucherName}) cannot be reprocessed as it has already generated Payable Invoice {!varPINName}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoStatus</name>
        <label>No - Status</label>
        <locationX>189</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorStatus</name>
            <fieldText>&lt;p&gt;This AP Voucher ({!varAPVoucherName}) cannot be reprocessed as it has not yet been matched. Matching the voucher should create the required Payable Invoice.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_APV_details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Process_to_PIN</name>
        <label>Process to PIN</label>
        <locationX>908</locationX>
        <locationY>304</locationY>
        <flowName>FFX_SM_Create_PIN_from_AP_Voucher</flowName>
        <inputAssignments>
            <name>inAPVoucherID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inDeliverNow</name>
            <value>
                <elementReference>varDeliverNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inISOCurrencyCode</name>
            <value>
                <elementReference>varCurrencyISOCode</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAPVAccountingRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAPVoucherName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAPVoucherStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrencyISOCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliverNow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPINID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPINName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPlatformMessageID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
