force-app/main/default/flows/FFX_SM_Update_Due_Date_on_AP_Voucher.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Term_Found_AT</name>
        <label>Term Found</label>
        <locationX>352</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Get_Company_Terms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ATFYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTermRecordID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AP_Voucher</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Term_Found_CT</name>
        <label>Term Found</label>
        <locationX>727</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>Get_Account_FFA_Terms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CTFYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTermRecordID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AP_Voucher</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>fmlDDBaseDate</name>
        <dataType>String</dataType>
        <expression>IF({!$Setup.FFX_SMCustomSettings__c.FFX_SM_TermCodeSet__c}=4, {!varBaseDate4},
IF({!$Setup.FFX_SMCustomSettings__c.FFX_SM_TermCodeSet__c}=3, {!varBaseDate3},
IF({!$Setup.FFX_SMCustomSettings__c.FFX_SM_TermCodeSet__c}=2, {!varBaseDate2},
{!varBaseDate1})))</expression>
    </formulas>
    <formulas>
        <name>fmlDDOffset</name>
        <dataType>Number</dataType>
        <expression>IF({!$Setup.FFX_SMCustomSettings__c.FFX_SM_TermCodeSet__c}=4,IF(ISBLANK({!varDaysOffset4}),0,{!varDaysOffset4}),
IF({!$Setup.FFX_SMCustomSettings__c.FFX_SM_TermCodeSet__c}=3,IF(ISBLANK({!varDaysOffset3}),0,{!varDaysOffset3}),
IF({!$Setup.FFX_SMCustomSettings__c.FFX_SM_TermCodeSet__c}=2,IF(ISBLANK({!varDaysOffset2}),0,{!varDaysOffset2}),
IF(ISBLANK({!varDaysOffset1}),0,{!varDaysOffset1}))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Calculates the Invoice Due Date</description>
        <name>fmlDueDate</name>
        <dataType>Date</dataType>
        <expression>IF({!fmlDDBaseDate} = &quot;Invoice Date&quot;, {!varInvoiceDate} + {!fmlDDOffset}, 
IF({!fmlDDBaseDate} = &quot;End of Next Month&quot;, ({!varInvoiceDate} - DAY({!varInvoiceDate}) + 70) - DAY(({!varInvoiceDate} - DAY({!varInvoiceDate}) + 70)) + {!fmlDDOffset},
({!varInvoiceDate}- DAY({!varInvoiceDate}) + 40) - DAY({!varInvoiceDate} - DAY({!varInvoiceDate}) + 40) + {!fmlDDOffset} + 1))</expression>
    </formulas>
    <interviewLabel>SM Update Due Date on AP Voucher {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SM Update Due Date on AP Voucher</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_FFA_Terms</name>
        <label>Get Account (FFA) Terms</label>
        <locationX>735</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_AP_Voucher</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varBaseDate1</assignToReference>
            <field>c2g__CODABaseDate1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBaseDate2</assignToReference>
            <field>c2g__CODABaseDate2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBaseDate3</assignToReference>
            <field>c2g__CODABaseDate3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBaseDate4</assignToReference>
            <field>c2g__CODABaseDate4__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDaysOffset1</assignToReference>
            <field>c2g__CODADaysOffset1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDaysOffset2</assignToReference>
            <field>c2g__CODADaysOffset2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDaysOffset3</assignToReference>
            <field>c2g__CODADaysOffset3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDaysOffset4</assignToReference>
            <field>c2g__CODADaysOffset4__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Terms</name>
        <label>Get Account Terms</label>
        <locationX>207</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Term_Found_AT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fferpcore__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <object>fferpcore__AccountCreditTerms__c</object>
        <outputAssignments>
            <assignToReference>varTermRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBaseDate1</assignToReference>
            <field>fferpcore__BaseDate1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBaseDate2</assignToReference>
            <field>fferpcore__BaseDate2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBaseDate3</assignToReference>
            <field>fferpcore__BaseDate3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBaseDate4</assignToReference>
            <field>fferpcore__BaseDate4__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDaysOffset1</assignToReference>
            <field>fferpcore__DaysOffset1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDaysOffset2</assignToReference>
            <field>fferpcore__DaysOffset2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDaysOffset3</assignToReference>
            <field>fferpcore__DaysOffset3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDaysOffset4</assignToReference>
            <field>fferpcore__DaysOffset4__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Company_Terms</name>
        <label>Get Company Terms</label>
        <locationX>536</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Term_Found_CT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fferpcore__Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCompanyID</elementReference>
            </value>
        </filters>
        <object>fferpcore__CompanyCreditTerms__c</object>
        <outputAssignments>
            <assignToReference>varTermRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBaseDate1</assignToReference>
            <field>fferpcore__BaseDate1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBaseDate2</assignToReference>
            <field>fferpcore__BaseDate2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBaseDate3</assignToReference>
            <field>fferpcore__BaseDate3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBaseDate4</assignToReference>
            <field>fferpcore__BaseDate4__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDaysOffset1</assignToReference>
            <field>fferpcore__DaysOffset1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDaysOffset2</assignToReference>
            <field>fferpcore__DaysOffset2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDaysOffset3</assignToReference>
            <field>fferpcore__DaysOffset3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDaysOffset4</assignToReference>
            <field>fferpcore__DaysOffset4__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_AP_Voucher</name>
        <label>Update AP Voucher</label>
        <locationX>454</locationX>
        <locationY>257</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAPVoucherID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SCMC__Due_Date__c</field>
            <value>
                <elementReference>fmlDueDate</elementReference>
            </value>
        </inputAssignments>
        <object>SCMC__AP_Voucher__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account_Terms</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAPVoucherID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBaseDate1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBaseDate2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBaseDate3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBaseDate4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompanyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDaysOffset1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varDaysOffset2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varDaysOffset3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varDaysOffset4</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varInvoiceDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTermRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
