force-app/main/default/flows/FFX_PSA_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Assignment_Email_Alert</name>
        <label>New Assignment Email Alert</label>
        <locationX>182</locationX>
        <locationY>1847</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Email_Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NewAssignmentEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NewAssignmentEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Capture PM Email Address to collection variable</description>
        <name>Add_PM_Email_Variable</name>
        <label>Add PM Email to Variable</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>Email_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.pse__Project__r.pse__Project_Manager__r.pse__Salesforce_User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Resource_Email_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Capture Resource Email Address on collection variable</description>
        <name>Add_Resource_Email_Variable</name>
        <label>Add Resource Email to Variable</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>Email_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.pse__Resource__r.pse__Salesforce_User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Recipients_Populated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If Project is Active and Billable and a New Assignment is Created, apply Bill Rate based on Billing Type</description>
        <name>Billing_Type</name>
        <label>Bill Rate Override?</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>PM_Email_populated_on_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fixed_Price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Is_Billable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Bill_Rate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Bill_Rate_0</targetReference>
            </connector>
            <label>Fixed Price and Bill Rate&lt;&gt;0</label>
        </rules>
        <rules>
            <name>Bill_Rate_Null</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Billing_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Is_Billable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Bill_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Bill_Rate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Suggested_Bill_Rate_to_Bill_Rate</targetReference>
            </connector>
            <label>T&amp;M and Bill Rate Null or 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_6</name>
        <label>Resource Missing Cost Rate</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Billing_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resource has a cost rate</defaultConnectorLabel>
        <rules>
            <name>No_Resource_Cost_Rate</name>
            <conditionLogic>1 OR ( 2 AND 3 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Cost_Rate_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Cost_Rate_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Use_Resource_Default_Cost_Rate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Assignment_Resource_Cost</targetReference>
            </connector>
            <label>Zero Resource Cost Rate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Recipients_Populated</name>
        <label>Email Recipients Populated</label>
        <locationX>314</locationX>
        <locationY>1739</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Recipinets_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Recipients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Assignment_Email_Alert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Assignment_Defaults</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PM_Email_populated_on_Project</name>
        <label>PM + Email populated on Project?</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Resource_Email_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Project_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Project_Manager__r.pse__Salesforce_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Project_Manager__r.pse__Salesforce_User__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_PM_Email_Variable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resource_Email_Populated</name>
        <label>Resource Email Populated?</label>
        <locationX>314</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Email_Recipients_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Resource_Email_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Resource__r.pse__Salesforce_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Resource__r.pse__Salesforce_User__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Resource_Email_Variable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Winter 25 accelerate update: removed the update to the &apos;Average Cost Rate Currency Code&apos; and the &apos;Average Cost Rate Number&apos; fields and added a new update to set the &apos;Use Project Currency for Resource Cost&apos; to TRUE.

includes decision to check for Rate Card before updating Cost Rate fields
        includes logic for Bill Rate override (for Bill Rate null or 0)
        adds logic for Email(s) being null</description>
    <formulas>
        <description>Concatenation to create Assignment Name</description>
        <name>AssignmentName</name>
        <dataType>String</dataType>
        <expression>LEFT(LEFT({!$Record.pse__Project__r.Name},60)&amp;&quot; - &quot;&amp;{!$Record.pse__Resource__r.FirstName}&amp;&quot; &quot;&amp;{!$Record.pse__Resource__r.LastName},80)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NewAssignmentEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;New Assignment: &quot;&amp;{!$Record.Name}</expression>
    </formulas>
    <interviewLabel>FFX PSA Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FFX PSA Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_Suggested_Bill_Rate_to_Bill_Rate</name>
        <label>Copy Suggested Bill Rate to Bill Rate</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>PM_Email_populated_on_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Suggested_Bill_Rate_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Bill_Rate__c</field>
            <value>
                <elementReference>$Record.pse__Suggested_Bill_Rate_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Assignment_Defaults</name>
        <label>Set Assignment Defaults</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Decision_6</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AssignmentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Use_Project_Currency_For_Resource_Cost__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Assignment_Resource_Cost</name>
        <label>Set Assignment Resource Cost</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Billing_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Cost_Rate_Amount__c</field>
            <value>
                <elementReference>$Record.pse__Average_Cost_Rate_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bill_Rate_0</name>
        <label>Update Bill Rate 0</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>PM_Email_populated_on_Project</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Bill_Rate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <object>pse__Assignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NewAssignmentEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: arial;&quot;&gt;Hello,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;The below assignment has been created:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Assignment&lt;/strong&gt;:  {!$Record.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Role&lt;/strong&gt;:  &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.pse__Role__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Dates&lt;/strong&gt;:  {!$Record.pse__Start_Date__c} - {!$Record.pse__End_Date__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Scheduled&lt;/strong&gt; &lt;strong&gt;Hours&lt;/strong&gt;:  {!$Record.pse__Scheduled_Hours__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Project&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;:  &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: arial;&quot;&gt;{!$Record.pse__Project__r.Name}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Email_Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
