force-app/main/default/flows/FFX_FAM_Fixed_Asset_Disposal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Update_Collection</name>
        <label>Add to Update Collection</label>
        <locationX>908</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>colUpdateSchedules</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Schedules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>640</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>varScheduleCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Schedules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>1004</locationX>
        <locationY>769</locationY>
        <assignmentItems>
            <assignToReference>varScheduleCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objSchedule.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Schedules.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objSchedule.FAM__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Destroyed</name>
        <choiceText>Destroyed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Destroyed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lost</name>
        <choiceText>Lost</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lost</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recycled</name>
        <choiceText>Recycled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recycled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Salvaged</name>
        <choiceText>Salvaged</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salvaged</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sold</name>
        <choiceText>Sold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stolen</name>
        <choiceText>Stolen</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stolen</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer</name>
        <choiceText>Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Active</name>
        <label>Active</label>
        <locationX>632</locationX>
        <locationY>70</locationY>
        <defaultConnector>
            <targetReference>Not_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>activeYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset.FAM__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Disposal_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Update</name>
        <label>Need Update</label>
        <locationX>794</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Update_Asset_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>nuYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varScheduleCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Schedules</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Schedules_to_Run</name>
        <label>Schedules to Run</label>
        <locationX>634</locationX>
        <locationY>422</locationY>
        <defaultConnector>
            <targetReference>Create_JE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>strYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDepreciationScheduleID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Depreciation_Due</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>fmlAccumulatedDepreciation</name>
        <dataType>Number</dataType>
        <expression>({!Get_Book.FAM__Accumulated_Depreciation__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fmlAssetCostCR</name>
        <dataType>Number</dataType>
        <expression>(0 - {!Get_Asset.FAM__Asset_Cost__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fmlBalanceToDisposal</name>
        <dataType>Number</dataType>
        <expression>({!Get_Asset.FAM__Asset_Cost__c} - {!Get_Book.FAM__Accumulated_Depreciation__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FAM Fixed Asset Disposal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FAM Fixed Asset Disposal</label>
    <loops>
        <name>Loop_Schedules</name>
        <label>Loop Schedules</label>
        <locationX>802</locationX>
        <locationY>772</locationY>
        <collectionReference>Get_Future_Schedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Need_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Balance_to_Disposal</name>
        <label>Balance to Disposal</label>
        <locationX>303</locationX>
        <locationY>772</locationY>
        <connector>
            <targetReference>Get_Future_Schedules</targetReference>
        </connector>
        <inputAssignments>
            <field>c2g__GeneralLedgerAccount__c</field>
            <value>
                <elementReference>Get_Asset.FFX_GLAAssetDisposalID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Journal__c</field>
            <value>
                <elementReference>varJournalID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineDescription__c</field>
            <value>
                <stringValue>Asset Disposal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineType__c</field>
            <value>
                <stringValue>General Ledger Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Value__c</field>
            <value>
                <elementReference>fmlBalanceToDisposal</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaJournalLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CR_Asset_Cost</name>
        <label>CR Asset Cost</label>
        <locationX>464</locationX>
        <locationY>595</locationY>
        <connector>
            <targetReference>DR_Accumulated_Depreciation</targetReference>
        </connector>
        <inputAssignments>
            <field>c2g__GeneralLedgerAccount__c</field>
            <value>
                <elementReference>Get_Asset.FFX_GLAFixedAssetID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Journal__c</field>
            <value>
                <elementReference>varJournalID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineDescription__c</field>
            <value>
                <stringValue>Asset Disposal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineType__c</field>
            <value>
                <stringValue>General Ledger Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Value__c</field>
            <value>
                <elementReference>fmlAssetCostCR</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaJournalLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_JE</name>
        <label>Create JE</label>
        <locationX>643</locationX>
        <locationY>593</locationY>
        <assignRecordIdToReference>varJournalID</assignRecordIdToReference>
        <connector>
            <targetReference>CR_Asset_Cost</targetReference>
        </connector>
        <inputAssignments>
            <field>Fixed_Asset__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__DeriveCurrency__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__DerivePeriod__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__JournalDate__c</field>
            <value>
                <elementReference>Disposal_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__JournalStatus__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__OwnerCompany__c</field>
            <value>
                <elementReference>Get_Asset.FFX_FFACompanyID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Reference__c</field>
            <value>
                <stringValue>Asset Disposal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Type__c</field>
            <value>
                <stringValue>Manual Journal</stringValue>
            </value>
        </inputAssignments>
        <object>c2g__codaJournal__c</object>
    </recordCreates>
    <recordCreates>
        <name>DR_Accumulated_Depreciation</name>
        <label>DR Accumulated Depreciation</label>
        <locationX>303</locationX>
        <locationY>593</locationY>
        <connector>
            <targetReference>Balance_to_Disposal</targetReference>
        </connector>
        <inputAssignments>
            <field>c2g__GeneralLedgerAccount__c</field>
            <value>
                <elementReference>Get_Asset.FFX_GLAAccumulatedDepreciationID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Journal__c</field>
            <value>
                <elementReference>varJournalID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineDescription__c</field>
            <value>
                <stringValue>Asset Disposal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__LineType__c</field>
            <value>
                <stringValue>General Ledger Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__Value__c</field>
            <value>
                <elementReference>fmlAccumulatedDepreciation</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaJournalLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>462</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FAM__Fixed_Asset__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Book</name>
        <label>Get Book</label>
        <locationX>842</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Schedules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FAM__Fixed_Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FAM__Depreciation_Book__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Future_Schedules</name>
        <label>Get Future Schedules</label>
        <locationX>476</locationX>
        <locationY>772</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FAM__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FAM__Depreciation_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Book.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FAM__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FAM__FA_Depreciation_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Schedules</name>
        <label>Get Schedules</label>
        <locationX>844</locationX>
        <locationY>419</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Schedules_to_Run</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FAM__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FAM__Depreciation_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Book.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FAM__Effective_Depreciation_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Disposal_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>FAM__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>FAM__FA_Depreciation_Schedule__c</object>
        <outputAssignments>
            <assignToReference>varDepreciationScheduleID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_Status</name>
        <label>Update Asset Status</label>
        <locationX>711</locationX>
        <locationY>1095</locationY>
        <connector>
            <targetReference>Disposed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FAM__Disposal_Date__c</field>
            <value>
                <elementReference>Disposal_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Disposal_Value__c</field>
            <value>
                <elementReference>Disposal_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Method_of_Disposal__c</field>
            <value>
                <elementReference>Method_of_Disposal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Status__c</field>
            <value>
                <stringValue>Disposed</stringValue>
            </value>
        </inputAssignments>
        <object>FAM__Fixed_Asset__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Schedules</name>
        <label>Update Schedules</label>
        <locationX>619</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Update_Asset_Status</targetReference>
        </connector>
        <inputReference>colUpdateSchedules</inputReference>
    </recordUpdates>
    <screens>
        <name>Depreciation_Due</name>
        <label>Depreciation Due</label>
        <locationX>423</locationX>
        <locationY>423</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorNotUpToDate</name>
            <fieldText>&lt;p&gt;Before an asset can be disposed please process all depreciation due on or before the disposal date specified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Disposed</name>
        <label>Disposed</label>
        <locationX>899</locationX>
        <locationY>1095</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>disposedNow</name>
            <fieldText>&lt;p&gt;This asset has been marked as disposed and a Journal Entry created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Disposal_Details</name>
        <label>Get Disposal Details</label>
        <locationX>641</locationX>
        <locationY>247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Book</targetReference>
        </connector>
        <fields>
            <name>disposalNote</name>
            <fieldText>&lt;p&gt;To dispose of this Fixed Asset please confirm/enter these details:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Method_of_Disposal</name>
            <choiceReferences>Destroyed</choiceReferences>
            <choiceReferences>Recycled</choiceReferences>
            <choiceReferences>Salvaged</choiceReferences>
            <choiceReferences>Sold</choiceReferences>
            <choiceReferences>Transfer</choiceReferences>
            <choiceReferences>Lost</choiceReferences>
            <choiceReferences>Stolen</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Method of Disposal</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Disposal_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Asset.FAM__Disposal_Date__c</elementReference>
            </defaultValue>
            <fieldText>Disposal Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Disposal_Value</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Asset.FAM__Disposal_Value__c</elementReference>
            </defaultValue>
            <fieldText>Disposal Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Active</name>
        <label>Not Active</label>
        <locationX>842</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorNotActive</name>
            <fieldText>&lt;p&gt;An asset can only be disposed when it is Active.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colUpdateSchedules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FAM__FA_Depreciation_Schedule__c</objectType>
    </variables>
    <variables>
        <name>objSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FAM__FA_Depreciation_Schedule__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDepreciationBookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDepreciationScheduleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varJournalID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varScheduleCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
