force-app/main/default/flows/FFX_FAM_Fixed_Asset_Audit_Record_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Asset_Activated</name>
        <label>Asset Activated</label>
        <locationX>248</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Asset_Disposal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FAM__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FFX_Activated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Audit_Record</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_Disposal</name>
        <label>Asset Disposal</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FAM__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disposed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Audit_Record_0</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <description>Process previously configured in FAM DEPRECATED Fixed Asset Record Status Amended PB Process Builder</description>
    <formulas>
        <name>ChangeDetailText</name>
        <dataType>String</dataType>
        <expression>&quot;Fixed Asset Disposal, dated &quot;&amp; TEXT({!$Record.FAM__Disposal_Date__c}) &amp; &quot; with disposal value of &quot;&amp;TEXT({!$Record.FAM__Disposal_Value__c})</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>FAM Fixed Asset Audit Record Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FAM Fixed Asset Audit Record Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Audit_Record</name>
        <label>Create Audit Record</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>FFX_ChangeDateTime__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_ChangeDetail__c</field>
            <value>
                <stringValue>Fixed Asset Status updated to Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_ChangeType__c</field>
            <value>
                <stringValue>Asset Activated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_ChangedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_FixedAsset__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FFX_FAMAssetAudit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Audit_Record_0</name>
        <label>Create Audit Record</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>FFX_ChangeDateTime__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_ChangeDetail__c</field>
            <value>
                <elementReference>ChangeDetailText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_ChangeType__c</field>
            <value>
                <stringValue>Asset Disposed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_ChangedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_FixedAsset__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FFX_FAMAssetAudit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asset_Activated</targetReference>
        </connector>
        <object>FAM__Fixed_Asset__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
