force-app/main/default/flows/FFX_SMCreateReceiptLineCancellationRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>PO_Closed</name>
        <label>PO Closed</label>
        <locationX>526</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>Create_Receipt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPOC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPOStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PO_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>FF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SM Create Receipt Line Cancellation Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Receipt</name>
        <label>Create Receipt</label>
        <locationX>698</locationX>
        <locationY>218</locationY>
        <assignRecordIdToReference>varNewReceiptID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Receipt_Line</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varReceiptCurrencyISO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Purchase_Order__c</field>
            <value>
                <elementReference>varReceiptPOID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Receipt_Type__c</field>
            <value>
                <stringValue>Purchase Order Receipt Cancellation</stringValue>
            </value>
        </inputAssignments>
        <object>SCMC__Receipt__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Receipt_Line</name>
        <label>Create Receipt Line</label>
        <locationX>904</locationX>
        <locationY>217</locationY>
        <inputAssignments>
            <field>SCMC__Purchase_Order_Line_Item__c</field>
            <value>
                <elementReference>varReceiptPOLineID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Quantity__c</field>
            <value>
                <elementReference>varReceiptQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Receiver__c</field>
            <value>
                <elementReference>varNewReceiptID</elementReference>
            </value>
        </inputAssignments>
        <object>SCMC__Receipt_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_PO_Status</name>
        <label>Get PO Status</label>
        <locationX>361</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PO_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReceiptPOID</elementReference>
            </value>
        </filters>
        <object>SCMC__Purchase_Order__c</object>
        <outputAssignments>
            <assignToReference>varPOStatus</assignToReference>
            <field>SCMC__Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Receipt_Line_Info</name>
        <label>Get Receipt Line Info</label>
        <locationX>205</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Receipt_PO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SCMC__Receipt_Line__c</object>
        <outputAssignments>
            <assignToReference>varReceiptCurrencyISO</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varReceiptPOLineID</assignToReference>
            <field>SCMC__Purchase_Order_Line_Item__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varReceiptQuantity</assignToReference>
            <field>SCMC__Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSourceReceiptID</assignToReference>
            <field>SCMC__Receiver__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Receipt_PO</name>
        <label>Get Receipt PO</label>
        <locationX>361</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PO_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSourceReceiptID</elementReference>
            </value>
        </filters>
        <object>SCMC__Receipt__c</object>
        <outputAssignments>
            <assignToReference>varReceiptPOID</assignToReference>
            <field>SCMC__Purchase_Order__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_PO_Status</name>
        <label>Update PO Status</label>
        <locationX>608</locationX>
        <locationY>389</locationY>
        <connector>
            <targetReference>Create_Receipt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReceiptPOID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SCMC__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>SCMC__Purchase_Order__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Receipt_Line_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewReceiptID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPOStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReceiptCurrencyISO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReceiptPOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReceiptPOLineID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReceiptQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varSourceReceiptID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
