force-app/main/default/flows/FFX_PSA_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Project_BIllable</name>
        <label>Is Project BIllable</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Is_Project_Work_at_Risk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ProjectBillable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Is_Billable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Services_Product_for_Project</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Project_New</name>
        <label>Is Project New?</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_Project_Work_at_Risk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NewProject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew_Project</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Project_to_Active</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Project_Not_WAR_Anymore</name>
        <label>Is Project Billable &amp; Changed from Working at Risk?</label>
        <locationX>336</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Stage_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NotWAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.pse__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missing Paperwork</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Is_Billable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Exclude_from_Billing_to_FALSE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Project_Work_at_Risk</name>
        <label>Is Project Billable &amp; Work at Risk</label>
        <locationX>336</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Is_Project_Not_WAR_Anymore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_WAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missing Paperwork</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Is_Billable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Exclude_from_Billing_to_TRUE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Changed</name>
        <label>Stage Changed?</label>
        <locationX>336</locationX>
        <locationY>1739</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed_or_Canceled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project_fields_to_Close</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Completed or Canceled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew_Project</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>FFX PSA Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FFX PSA Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Services_Product_for_Project</name>
        <label>Get Services Product for Project</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Services_Product_field_on_the_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Professional Services</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Project_to_Active</name>
        <label>Set Project to Active</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_Project_BIllable</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Action_Update_Current_Time_Period__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Exclude_from_Billing_to_FALSE</name>
        <label>Update Exclude from Billing to FALSE</label>
        <locationX>204</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Stage_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Exclude_From_Billing__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Exclude_from_Billing_to_TRUE</name>
        <label>Update Exclude from Billing to TRUE</label>
        <locationX>204</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Is_Project_Not_WAR_Anymore</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Exclude_From_Billing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Daily_Notes_Required_to_TRUE</name>
        <label>Update Project Daily Notes Required to TRUE</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Is_Project_Work_at_Risk</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Daily_Timecard_Notes_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Sets Active to FALSE, Closed for Time Entry = TRUE, Closed for Expense Entry = TRUE</description>
        <name>Update_Project_fields_to_Close</name>
        <label>Update Project fields to Close</label>
        <locationX>204</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>pse__Closed_for_Expense_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Closed_for_Time_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Is_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Services_Product_field_on_the_Project</name>
        <label>Update Services Product field on the Project</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Project_Daily_Notes_Required_to_TRUE</targetReference>
        </connector>
        <inputAssignments>
            <field>ffpsai__ServicesProduct__c</field>
            <value>
                <elementReference>Get_Services_Product_for_Project.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Project_New</targetReference>
        </connector>
        <object>pse__Proj__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
