force-app/main/default/flows/FFX_SM_StoreFXRateOnFirstReceipt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Document</name>
        <label>Set Document</label>
        <locationX>692</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>vCurrencyDocument</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_FX_Currencies.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Home</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Dual</name>
        <label>Set Dual</label>
        <locationX>914</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>vCurrencyDual</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_FX_Currencies.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFFADualCurrencyID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_FX_Currencies.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_FX_Currencies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Home</name>
        <label>Set Home</label>
        <locationX>853</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>vCurrencyHome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_FX_Currencies.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFFAHomeCurrencyID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_FX_Currencies.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dual</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Doc</name>
        <label>Doc</label>
        <locationX>612</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>Home</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>DCYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_FX_Currencies.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vFFACurrencyID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Document</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dual</name>
        <label>Dual</label>
        <locationX>910</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>Loop_FX_Currencies</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ACYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_FX_Currencies.c2g__Dual__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dual</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FDN_or_FFA</name>
        <label>FDN or FFA</label>
        <locationX>615</locationX>
        <locationY>621</locationY>
        <defaultConnector>
            <targetReference>Get_Document_FFA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FFA</defaultConnectorLabel>
        <rules>
            <name>FDN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vFXGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Document</targetReference>
            </connector>
            <label>FDN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Home</name>
        <label>Home</label>
        <locationX>757</locationX>
        <locationY>214</locationY>
        <defaultConnector>
            <targetReference>Dual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HCYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_FX_Currencies.c2g__Home__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Home</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>fmlDualRate</name>
        <dataType>Number</dataType>
        <expression>IF({!vCurrencyDocument}={!vCurrencyDual}, NULL, {!rateDual}/{!rateHome})</expression>
        <scale>9</scale>
    </formulas>
    <formulas>
        <name>fmlHomeRate</name>
        <dataType>Number</dataType>
        <expression>IF({!vCurrencyHome} = {!vCurrencyDocument}, NULL, {!rateDocument}/{!rateHome})</expression>
        <scale>9</scale>
    </formulas>
    <interviewLabel>SM Store FX Rate on First Receipt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SM Store FX Rate on First Receipt</label>
    <loops>
        <name>Loop_FX_Currencies</name>
        <label>Loop FX Currencies</label>
        <locationX>621</locationX>
        <locationY>334</locationY>
        <collectionReference>Get_Accounting_Currencies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Doc</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_FX_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Company</name>
        <label>Company</label>
        <locationX>326</locationX>
        <locationY>334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accounting_Currencies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vFDNCompanyID</elementReference>
            </value>
        </filters>
        <object>fferpcore__Company__c</object>
        <outputAssignments>
            <assignToReference>vFFACompanyID</assignToReference>
            <field>c2g__msg_link_ffa_id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Accounting_Currencies</name>
        <label>Get Accounting Currencies</label>
        <locationX>476</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_FX_Currencies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__OwnerCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vFFACompanyID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>c2g__codaAccountingCurrency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document</name>
        <label>Get Document</label>
        <locationX>474</locationX>
        <locationY>619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Home</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fferpcore__Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vFXGroupID</elementReference>
            </value>
        </filters>
        <filters>
            <field>fferpcore__StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>vReceiptDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>fferpcore__RateCurrency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCurrencyDocument</elementReference>
            </value>
        </filters>
        <filters>
            <field>fferpcore__RateType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial</stringValue>
            </value>
        </filters>
        <object>fferpcore__ExchangeRateHistory__c</object>
        <outputAssignments>
            <assignToReference>rateDocument</assignToReference>
            <field>fferpcore__Rate__c</field>
        </outputAssignments>
        <sortField>fferpcore__StartDate__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_FFA</name>
        <label>Get Document</label>
        <locationX>779</locationX>
        <locationY>619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Home_FFA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__OwnerCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vFFACompanyID</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__ExchangeRateCurrency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vFFACurrencyID</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>vReceiptDate</elementReference>
            </value>
        </filters>
        <object>c2g__codaExchangeRate__c</object>
        <outputAssignments>
            <assignToReference>rateDocument</assignToReference>
            <field>c2g__Rate__c</field>
        </outputAssignments>
        <sortField>c2g__StartDate__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Dual</name>
        <label>Get Dual</label>
        <locationX>341</locationX>
        <locationY>776</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_PO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fferpcore__Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vFXGroupID</elementReference>
            </value>
        </filters>
        <filters>
            <field>fferpcore__StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>vReceiptDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>fferpcore__RateCurrency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCurrencyDual</elementReference>
            </value>
        </filters>
        <filters>
            <field>fferpcore__RateType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial</stringValue>
            </value>
        </filters>
        <object>fferpcore__ExchangeRateHistory__c</object>
        <outputAssignments>
            <assignToReference>rateDual</assignToReference>
            <field>fferpcore__Rate__c</field>
        </outputAssignments>
        <sortField>fferpcore__StartDate__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Dual_FFA</name>
        <label>Get Dual</label>
        <locationX>907</locationX>
        <locationY>776</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_PO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__OwnerCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vFFACompanyID</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__ExchangeRateCurrency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vFFADualCurrencyID</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>vReceiptDate</elementReference>
            </value>
        </filters>
        <object>c2g__codaExchangeRate__c</object>
        <outputAssignments>
            <assignToReference>rateDual</assignToReference>
            <field>c2g__Rate__c</field>
        </outputAssignments>
        <sortField>c2g__StartDate__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_FX_Group</name>
        <label>Get FX Group</label>
        <locationX>623</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FDN_or_FFA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vFFACompanyID</elementReference>
            </value>
        </filters>
        <object>c2g__codaCompany__c</object>
        <outputAssignments>
            <assignToReference>vFXGroupID</assignToReference>
            <field>c2g__ExchangeRateGroup__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Home</name>
        <label>Get Home</label>
        <locationX>342</locationX>
        <locationY>619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fferpcore__Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vFXGroupID</elementReference>
            </value>
        </filters>
        <filters>
            <field>fferpcore__StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>vReceiptDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>fferpcore__RateCurrency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCurrencyHome</elementReference>
            </value>
        </filters>
        <filters>
            <field>fferpcore__RateType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial</stringValue>
            </value>
        </filters>
        <object>fferpcore__ExchangeRateHistory__c</object>
        <outputAssignments>
            <assignToReference>rateHome</assignToReference>
            <field>fferpcore__Rate__c</field>
        </outputAssignments>
        <sortField>fferpcore__StartDate__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Home_FFA</name>
        <label>Get Home</label>
        <locationX>907</locationX>
        <locationY>619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dual_FFA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__OwnerCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vFFACompanyID</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__ExchangeRateCurrency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vFFAHomeCurrencyID</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>vReceiptDate</elementReference>
            </value>
        </filters>
        <object>c2g__codaExchangeRate__c</object>
        <outputAssignments>
            <assignToReference>rateHome</assignToReference>
            <field>c2g__Rate__c</field>
        </outputAssignments>
        <sortField>c2g__StartDate__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Purchase_Order</name>
        <label>Purchase Order</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Company</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPurchaseOrderID</elementReference>
            </value>
        </filters>
        <object>SCMC__Purchase_Order__c</object>
        <outputAssignments>
            <assignToReference>vFDNCompanyID</assignToReference>
            <field>FFX_Company__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFFACurrencyID</assignToReference>
            <field>FFX_FFACurrencyID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Receipt</name>
        <label>Receipt</label>
        <locationX>176</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Purchase_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SCMC__Receipt__c</object>
        <outputAssignments>
            <assignToReference>vReceiptDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPurchaseOrderID</assignToReference>
            <field>SCMC__Purchase_Order__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_PO</name>
        <label>Update PO</label>
        <locationX>621</locationX>
        <locationY>776</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPurchaseOrderID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FFX_FXRateDate__c</field>
            <value>
                <elementReference>vReceiptDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_FXRateDual__c</field>
            <value>
                <elementReference>fmlDualRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_FXRateHome__c</field>
            <value>
                <elementReference>fmlHomeRate</elementReference>
            </value>
        </inputAssignments>
        <object>SCMC__Purchase_Order__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Receipt</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rateDocument</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>9</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>rateDual</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>9</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>rateHome</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>9</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCurrencyDocument</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCurrencyDual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCurrencyHome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFDNCompanyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFFACompanyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFFACurrencyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFFADualCurrencyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFFAHomeCurrencyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFXGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPurchaseOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vReceiptDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
