force-app/main/default/flows/FFX_SM_Complete_Requisition_PO_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>PO_is_Open</name>
        <label>PO is Open</label>
        <locationX>373</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Status_not_Open</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>POOpenYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPOStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warehouse_is_Empty</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Supplier_Needed</name>
        <label>Supplier Needed</label>
        <locationX>755</locationX>
        <locationY>443</locationY>
        <defaultConnector>
            <targetReference>Update_Header</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SNYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSupplierSiteID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Supplier</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Warehouse_is_Empty</name>
        <label>Warehouse is Empty</label>
        <locationX>373</locationX>
        <locationY>245</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>WHEmptyYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varShipToWarehouseID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WH_FRom_Lines</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Warehouse_is_Empty_0</name>
        <label>Warehouse is Empty</label>
        <locationX>751</locationX>
        <locationY>244</locationY>
        <defaultConnector>
            <targetReference>Get_Warehouse_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>WHEmptyYes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varShipToWarehouseID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supplier_Needed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>SM Complete Requisition PO Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SM Complete Requisition PO Details</label>
    <loops>
        <name>Loop_PO_Lines</name>
        <label>Loop PO Lines</label>
        <locationX>274</locationX>
        <locationY>433</locationY>
        <assignNextValueToReference>objPOLine</assignNextValueToReference>
        <collectionReference>colPOLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Confirm_Line_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Company</name>
        <label>Get Company</label>
        <locationX>961</locationX>
        <locationY>441</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Supplier_Needed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__msg_link_ffa_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFFACompanyID</elementReference>
            </value>
        </filters>
        <object>fferpcore__Company__c</object>
        <outputAssignments>
            <assignToReference>varPOCompanyID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_Info</name>
        <label>Get PO Info</label>
        <locationX>224</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PO_is_Open</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SCMC__Purchase_Order__c</object>
        <outputAssignments>
            <assignToReference>varPOCompanyID</assignToReference>
            <field>FFX_Company__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varShipToWarehouseID</assignToReference>
            <field>SCMC__Ship_To_Warehouse__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPOStatus</assignToReference>
            <field>SCMC__Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSupplierSiteID</assignToReference>
            <field>SCMC__Supplier_Site__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_Lines_for_Update</name>
        <label>Get PO Lines for Update</label>
        <locationX>434</locationX>
        <locationY>433</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_PO_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FFX_ProductGroup__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SCMC__Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SCMC__Purchase_Order_Line_Item__c</object>
        <outputReference>colPOLines</outputReference>
        <queriedFields>SCMC__Unit_Cost__c</queriedFields>
        <queriedFields>FFX_ProductGroup__c</queriedFields>
        <queriedFields>SCMC__Quantity__c</queriedFields>
        <queriedFields>SCMC__Description__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Warehouse_Details</name>
        <label>Get Warehouse Details</label>
        <locationX>962</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Company</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varShipToWarehouseID</elementReference>
            </value>
        </filters>
        <object>SCMC__Warehouse__c</object>
        <outputAssignments>
            <assignToReference>varFFACompanyID</assignToReference>
            <field>FFX_FFACompany__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_WH_FRom_Lines</name>
        <label>Get WH From Lines</label>
        <locationX>602</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Warehouse_is_Empty_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMC__Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCMC__Warehouse__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SCMC__Purchase_Order_Line_Item__c</object>
        <outputAssignments>
            <assignToReference>varShipToWarehouseID</assignToReference>
            <field>SCMC__Warehouse__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Header</name>
        <label>Update Header</label>
        <locationX>592</locationX>
        <locationY>532</locationY>
        <connector>
            <targetReference>Get_PO_Lines_for_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FFX_Company__c</field>
            <value>
                <elementReference>varPOCompanyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Ship_To_Warehouse__c</field>
            <value>
                <elementReference>varShipToWarehouseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Supplier_Site__c</field>
            <value>
                <elementReference>varSupplierSiteID</elementReference>
            </value>
        </inputAssignments>
        <object>SCMC__Purchase_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PO_Line</name>
        <label>Update PO Line</label>
        <locationX>167</locationX>
        <locationY>596</locationY>
        <connector>
            <targetReference>Loop_PO_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objPOLine.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FFX_ProductGroup__c</field>
            <value>
                <elementReference>varPOProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Unit_Cost__c</field>
            <value>
                <elementReference>Unit_Price</elementReference>
            </value>
        </inputAssignments>
        <object>SCMC__Purchase_Order_Line_Item__c</object>
    </recordUpdates>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>376</locationX>
        <locationY>670</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>StatusNotOpen_0</name>
            <fieldText>&lt;p&gt;Process is now complete.&lt;/p&gt;&lt;p&gt;Further amendments/additions can be made in the normal manner.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Line_Details</name>
        <label>Confirm Line Details</label>
        <locationX>76</locationX>
        <locationY>433</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_PO_Line</targetReference>
        </connector>
        <fields>
            <name>LineDetails</name>
            <fieldText>&lt;p&gt;Please complete/confirm the information for this PO Line:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>objPOLine.SCMC__Quantity__c</elementReference>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>objPOLine.SCMC__Description__c</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>GetProduct</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>FFX_ProductGroup__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>SCMC__Purchase_Order_Line_Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varPOProductID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varPOProductID</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varPOProductName</assignToReference>
                <name>recordName</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Unit_Price</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>objPOLine.SCMC__Unit_Cost__c</elementReference>
            </defaultValue>
            <fieldText>Unit Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Supplier</name>
        <label>Select Supplier</label>
        <locationX>762</locationX>
        <locationY>633</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Header</targetReference>
        </connector>
        <fields>
            <name>SupplierSelect</name>
            <fieldText>&lt;p&gt;Please select/confirm a Supplier for this Purchase Order:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>GetSupplier</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SCMC__Supplier_Site__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Supplier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>SCMC__Purchase_Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varSupplierSite</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSupplierSiteID</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varSupplierSite</assignToReference>
                <name>recordName</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Status_not_Open</name>
        <label>Status not Open</label>
        <locationX>603</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>StatusNotOpen</name>
            <fieldText>&lt;p&gt;A Purchase Order that is not in status = Open cannot be modified by this process. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_PO_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colPOLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Purchase_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>objPOLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Purchase_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFFACompanyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPOCompanyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPOProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPOProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPOStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShipToWarehouseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSupplierSite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSupplierSiteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
