force-app/main/default/flows/FFX_FAM_Create_Asset_from_Payable_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>InitialiseAssets</name>
        <label>Initialise Assets</label>
        <locationX>595</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>varAssCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFixedAsset.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHomeCurrency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFixedAsset.Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inRecAPVoucher.FFX_FFACompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFixedAsset.Dimension_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Invoice_Line.FFX_POAnalysis1__r.FFX_FFADim1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFixedAsset.Dimension_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Invoice_Line.FFX_POAnalysis2__r.FFX_FFADim2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFixedAsset.Dimension_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Invoice_Line.FFX_POAnalysis3__r.FFX_FFADim3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFixedAsset.Dimension_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Invoice_Line.FFX_POAnalysis4__r.FFX_FFADim4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFixedAsset.FAM__Asset_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlAssetCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFixedAsset.FAM__Asset_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Invoice_Line.SCMC__Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFixedAsset.FAM__Asset_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Invoice_Line.SCMC__Purchase_Order_Line_Item__r.FFX_ProductGroup__r.SCMC__Asset_Group__r.SCMC__ERP_Asset_Group_Correlation_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFixedAsset.FAM__Asset_Sub_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlAssetSubGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFixedAsset.FAM__Date_Acquired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inRecAPVoucher.SCMC__Invoice_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFixedAsset.FAM__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFixedAsset.FAM__Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inRecAPVoucher.SCMC__Supplier_Site__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFixedAsset.FAM__Date_In_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inRecAPVoucher.SCMC__Invoice_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoadAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoadAsset</name>
        <label>Load Asset</label>
        <locationX>751</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>recAssetAdditions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recFixedAsset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Line_Assets_Created</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asset_Line</name>
        <label>Asset Line</label>
        <locationX>588</locationX>
        <locationY>352</locationY>
        <defaultConnector>
            <targetReference>Each_Invoice_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Asset_LineYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Invoice_Line.SCMC__Purchase_Order_Line_Item__r.FFX_ProductGroup__r.SCMC__Asset_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Each_Invoice_Line.SCMC__Purchase_Order_Line_Item__r.FFX_ProductGroup__r.SCMC__Asset_Group__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InitialiseAssets</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DCAllFound</name>
        <label>All Found</label>
        <locationX>528</locationX>
        <locationY>192</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DCAllFoundYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inRecAPVoucher</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDocumentRate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDocumentRate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Each_Invoice_Line</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Line_Assets_Created</name>
        <label>Line Assets Created</label>
        <locationX>872</locationX>
        <locationY>341</locationY>
        <defaultConnector>
            <targetReference>LoadAsset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Line_Assets_CreatedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssCreated</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fmlAssetQuantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Each_Invoice_Line</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>fmlAssetCost</name>
        <dataType>Number</dataType>
        <expression>ROUND(({!Each_Invoice_Line.SCMC__Extended_Price__c} / {!varDocumentRate})/{!fmlAssetQuantity},2)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fmlAssetQuantity</name>
        <dataType>Number</dataType>
        <expression>If(!{!Each_Invoice_Line.SCMC__Purchase_Order_Line_Item__r.FFX_ProductGroup__r.FFX_MultiAssetsPerAPVLine__c},1,{!Each_Invoice_Line.SCMC__Quantity__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fmlAssetSubGroup</name>
        <dataType>String</dataType>
        <expression>If(OR(ISBLANK({!Each_Invoice_Line.SCMC__Purchase_Order_Line_Item__r.FFX_ProductGroup__r.SCMC__Asset_Sub_Group__c}), ISNULL({!Each_Invoice_Line.SCMC__Purchase_Order_Line_Item__r.FFX_ProductGroup__r.SCMC__Asset_Sub_Group__c})), &quot;&quot;, {!Each_Invoice_Line.SCMC__Purchase_Order_Line_Item__r.FFX_ProductGroup__r.SCMC__Asset_Sub_Group__r.SCMC__ERP_Asset_Sub_Group_Correlation_Id__c})</expression>
    </formulas>
    <interviewLabel>FAM - Create Asset from Payable Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FAM - Create Asset from Payable Invoice</label>
    <loops>
        <name>Each_Invoice_Line</name>
        <label>Each Invoice Line</label>
        <locationX>682</locationX>
        <locationY>259</locationY>
        <collectionReference>AP_Voucher_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asset_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Assets</name>
        <label>Create Assets</label>
        <locationX>961</locationX>
        <locationY>115</locationY>
        <inputReference>recAssetAdditions</inputReference>
    </recordCreates>
    <recordLookups>
        <name>AP_Voucher_Lines</name>
        <label>AP Voucher Lines</label>
        <locationX>406</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DCAllFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMC__AP_Voucher__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inRecAPVoucher.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCMC__Purchase_Order_Line_Item__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SCMC__Purchase_Order_Line_Item__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SCMC__AP_Voucher_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Currency</name>
        <label>Get Currency</label>
        <locationX>288</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AP_Voucher_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHomeCurrency</elementReference>
            </value>
        </filters>
        <object>c2g__codaAccountingCurrency__c</object>
        <outputAssignments>
            <assignToReference>varHomeCurrency</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetTransactionLine</name>
        <label>GetTransactionLine</label>
        <locationX>176</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Currency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__Transaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inRecAPVoucher.msg_link_SMAPPI_id__r.c2g__Transaction__c</elementReference>
            </value>
        </filters>
        <object>c2g__codaTransactionLineItem__c</object>
        <outputAssignments>
            <assignToReference>varDocumentRate</assignToReference>
            <field>c2g__DocumentRate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varHomeCurrency</assignToReference>
            <field>c2g__HomeCurrency__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>GetTransactionLine</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inRecAPVoucher</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__AP_Voucher__c</objectType>
    </variables>
    <variables>
        <name>recAssetAdditions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FAM__Fixed_Asset__c</objectType>
    </variables>
    <variables>
        <name>recFixedAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FAM__Fixed_Asset__c</objectType>
    </variables>
    <variables>
        <name>recPayableInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaPurchaseInvoice__c</objectType>
    </variables>
    <variables>
        <name>varAssCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varDocumentRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>varHomeCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
