force-app/main/default/flows/FFX_FFRM_Populate_GLA_Name_on_MA_Source_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Service_Product_on_MA_Blank</name>
        <label>Is Service Product on MA Blank ?</label>
        <locationX>476</locationX>
        <locationY>48</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SP_on_MA_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MAServiceProductID_OUTPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SP_from_Project</targetReference>
            </connector>
            <label>Yes - SP on MA Blank</label>
        </rules>
        <rules>
            <name>No_SP_on_MA_is_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MAServiceProductID_OUTPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GLA_Record_ID_from_SP</targetReference>
            </connector>
            <label>No - SP on MA is Populated</label>
        </rules>
    </decisions>
    <interviewLabel>FFRM - Populate GLA Name on MA Source Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FFRM - Populate GLA Name on MA Source Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_GLA_Name</name>
        <label>Get GLA Name</label>
        <locationX>1034</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_GLA_Name_RR_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesRevenueAccountID_OUTPUT</elementReference>
            </value>
        </filters>
        <object>c2g__codaGeneralLedgerAccount__c</object>
        <outputAssignments>
            <assignToReference>SalesRevenueGLAName_OUTPUT</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_GLA_Name_RR_Account</name>
        <label>Get GLA Name - RR Account</label>
        <locationX>1201</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_MA_with_Sales_Revenue_GLA_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesRevenueRRAccountID_OUTPUT</elementReference>
            </value>
        </filters>
        <object>c2g__codaGeneralLedgerAccount__c</object>
        <outputAssignments>
            <assignToReference>SalesRevenueRRGLAName_OUTPUT</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_GLA_Record_ID_from_SP</name>
        <label>Get GLA Record ID from SP</label>
        <locationX>803</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_GLA_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MAServiceProductID_OUTPUT</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>SalesRevenueRRAccountID_OUTPUT</assignToReference>
            <field>FFX_RevenueRecognitionAccount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SalesRevenueAccountID_OUTPUT</assignToReference>
            <field>c2g__CODASalesRevenueAccount__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Misc_Adj_Data</name>
        <label>Get Misc Adj Data</label>
        <locationX>248</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Service_Product_on_MA_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MARecordID_INPUT</elementReference>
            </value>
        </filters>
        <object>pse__Miscellaneous_Adjustment__c</object>
        <outputAssignments>
            <assignToReference>MAServiceProductID_OUTPUT</assignToReference>
            <field>ffpsai__ServicesProduct__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MAProjectID_OUTPUT</assignToReference>
            <field>pse__Project__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_SP_from_Project</name>
        <label>Get SP from Project</label>
        <locationX>487</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_GLA_Record_ID_from_SP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MAProjectID_OUTPUT</elementReference>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <outputAssignments>
            <assignToReference>MAServiceProductID_OUTPUT</assignToReference>
            <field>ffpsai__ServicesProduct__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_MA_with_Sales_Revenue_GLA_Name</name>
        <label>Update MA with Sales Revenue GLA Name</label>
        <locationX>1212</locationX>
        <locationY>329</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MARecordID_INPUT</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FFX_Rev_Rec_Sales_GLA__c</field>
            <value>
                <elementReference>SalesRevenueGLAName_OUTPUT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_Rev_Rec_Sales_RRGLA__c</field>
            <value>
                <elementReference>SalesRevenueRRGLAName_OUTPUT</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Miscellaneous_Adjustment__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Misc_Adj_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MAProjectID_OUTPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MARecordID_INPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MAServiceProductID_OUTPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesRevenueAccountID_OUTPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesRevenueGLAName_OUTPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesRevenueRRAccountID_OUTPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesRevenueRRGLAName_OUTPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
