force-app/main/default/flows/FFX_SM_PO_Cancellation_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1144</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>colReceiptLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objReceiptLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Receipt_Line</name>
        <label>Set Receipt Line</label>
        <locationX>959</locationX>
        <locationY>729</locationY>
        <assignmentItems>
            <assignToReference>objReceiptLine.SCMC__Purchase_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objPOLine.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objReceiptLine.SCMC__Receiver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varReceiptID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objReceiptLine.SCMC__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objPOLine.SCMC__Remaining_to_Voucher__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Status_1</name>
        <label>Check Status (1)</label>
        <locationX>291</locationX>
        <locationY>196</locationY>
        <defaultConnector>
            <targetReference>Get_PO_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>POIsCancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPOStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Cancelled</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
        <rules>
            <name>POIsInApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPOStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted to Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_InApproval</targetReference>
            </connector>
            <label>In Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_2</name>
        <label>Check Status (2)</label>
        <locationX>790</locationX>
        <locationY>372</locationY>
        <defaultConnector>
            <targetReference>Create_Receipt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Approved</defaultConnectorLabel>
        <rules>
            <name>PORevisedRejected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varPOStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revised</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPOStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DisApproved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_NotApproved</targetReference>
            </connector>
            <label>Revised or Rejected</label>
        </rules>
        <rules>
            <name>Not_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPOStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PO_0</targetReference>
            </connector>
            <label>Not Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Lines_to_Adjust</name>
        <label>Has Lines to Adjust</label>
        <locationX>487</locationX>
        <locationY>372</locationY>
        <defaultConnector>
            <targetReference>OK_NoAmends</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HLAYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colPOLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OK_Amends</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>fmlPOLineAdjustmentQuantity</name>
        <dataType>Number</dataType>
        <expression>0 - {!objPOLine.SCMC__Remaining_to_Voucher__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SM PO Cancellation Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SM PO Cancellation Process</label>
    <loops>
        <name>Loop_Lines</name>
        <label>Loop Lines</label>
        <locationX>960</locationX>
        <locationY>555</locationY>
        <assignNextValueToReference>objPOLine</assignNextValueToReference>
        <collectionReference>colPOLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Receipt_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Receipt_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Receipt_Lines</name>
        <label>Add Receipt Lines</label>
        <locationX>760</locationX>
        <locationY>552</locationY>
        <connector>
            <targetReference>Update_Lines</targetReference>
        </connector>
        <inputReference>colReceiptLines</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Receipt</name>
        <label>Create Receipt</label>
        <locationX>960</locationX>
        <locationY>370</locationY>
        <assignRecordIdToReference>varReceiptID</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Lines</targetReference>
        </connector>
        <inputAssignments>
            <field>SCMC__Purchase_Order__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Receipt_Type__c</field>
            <value>
                <stringValue>Purchase Order Receipt Cancellation</stringValue>
            </value>
        </inputAssignments>
        <object>SCMC__Receipt__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_PO_Info</name>
        <label>Get PO Info</label>
        <locationX>299</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SCMC__Purchase_Order__c</object>
        <outputAssignments>
            <assignToReference>varPONumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPOLineCountOpen</assignToReference>
            <field>SCMC__Number_Open_Lines__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPOLineCountCancelled</assignToReference>
            <field>SCMC__Number_of_Cancelled_Lines__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPOLineCountClosed</assignToReference>
            <field>SCMC__Number_of_Closed_Lines__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPOLineCount</assignToReference>
            <field>SCMC__Number_of_Lines__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPOLineCountPartReceived</assignToReference>
            <field>SCMC__Number_of_Partially_Received_Lines__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPOStatus</assignToReference>
            <field>SCMC__Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Checks for PO Lines where there are amounts remaining to invoice</description>
        <name>Get_PO_Lines</name>
        <label>Get PO Lines</label>
        <locationX>300</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Lines_to_Adjust</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMC__Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCMC__Remaining_to_Voucher__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>SCMC__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>SCMC__Purchase_Order_Line_Item__c</object>
        <outputReference>colPOLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SCMC__Remaining_to_Voucher__c</queriedFields>
        <queriedFields>FFX_ProductGroup__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Set Lines to Cancelled</description>
        <name>Update_Lines</name>
        <label>Update Lines</label>
        <locationX>640</locationX>
        <locationY>552</locationY>
        <connector>
            <targetReference>Update_PO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMC__Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCMC__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SCMC__Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>SCMC__Purchase_Order_Line_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PO</name>
        <label>Update PO</label>
        <locationX>640</locationX>
        <locationY>723</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SCMC__Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>SCMC__Purchase_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PO_0</name>
        <label>Update PO</label>
        <locationX>890</locationX>
        <locationY>152</locationY>
        <connector>
            <targetReference>Create_Receipt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SCMC__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>SCMC__Purchase_Order__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Cancelled</name>
        <label>Error_Cancelled</label>
        <locationX>105</locationX>
        <locationY>195</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorCancelled</name>
            <fieldText>&lt;p&gt;This Purchase Order {!varPONumber} has already been cancelled.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_InApproval</name>
        <label>Error_InApproval</label>
        <locationX>490</locationX>
        <locationY>194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorCancelled_0</name>
            <fieldText>&lt;p&gt;This Purchase Order {!varPONumber} is currently in an approval process. The approval process must be finished (approved or rejected) before the order can be cancelled.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_NotApproved</name>
        <label>Error_NotApproved</label>
        <locationX>677</locationX>
        <locationY>114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorNotApproved</name>
            <fieldText>&lt;p&gt;This Purchase Order {!varPONumber} is currently not approved, and needs adjustments for cancellation. These adjustments can only be processed if the PO is approved.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OK_Amends</name>
        <label>OK_Amends</label>
        <locationX>642</locationX>
        <locationY>370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Status_2</targetReference>
        </connector>
        <fields>
            <name>OKAmends</name>
            <fieldText>&lt;p&gt;This Purchase Order {!varPONumber} will be cancelled, and all lines will be cancelled. Receipt reversals will be created for quantities received but not yet invoiced.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OK_NoAmends</name>
        <label>OK_NoAmends</label>
        <locationX>495</locationX>
        <locationY>552</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Lines</targetReference>
        </connector>
        <fields>
            <name>OKNoAmends</name>
            <fieldText>&lt;p&gt;This Purchase Order {!varPONumber} will be cancelled, and all lines will be cancelled. No resulting adjustments are required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_PO_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colPOLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Purchase_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>colReceiptLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Receipt_Line__c</objectType>
    </variables>
    <variables>
        <name>objPOLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Purchase_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>objReceiptLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Receipt_Line__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPOLineCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPOLineCountCancelled</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPOLineCountClosed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPOLineCountOpen</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPOLineCountPartReceived</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPONumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPOStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReceiptID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
