force-app/main/default/flows/FFX_PSA_Missing_Timecard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Missing_Timecard_Email2_to_Resource</name>
        <label>Missing Timecard Email to Resource</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.pse__Resource__r.pse__Salesforce_User__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email2Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Missing_Timecard_Email_to_Resource</name>
        <label>Missing Timecard Email to Resource</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.pse__Resource__r.pse__Salesforce_User__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Timecard_Still_Missing</name>
        <label>Timecard Still Missing?</label>
        <locationX>446</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Date_Timecard_Entered__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Timecard_Email2_to_Resource</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Migrated from the &quot;FFX PSA Missing Timecard Created&quot; workflow rule
Missing Timecard email alert trigger on record creation</description>
    <formulas>
        <name>Email2Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Reminder: Missing Timecard Alert For Week Ending &quot;&amp;TEXT({!$Record.pse__End_Date__c})</expression>
    </formulas>
    <formulas>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Missing Timecard Alert For Week Ending &quot;&amp;TEXT({!$Record.pse__End_Date__c})</expression>
    </formulas>
    <interviewLabel>FFX PSA Missing Timecard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FFX PSA Missing Timecard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Missing_Timecard_Email_to_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Date_Timecard_Entered__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pse__Missing_Timecard__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Reminder</name>
            <connector>
                <targetReference>Timecard_Still_Missing</targetReference>
            </connector>
            <label>Reminder</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.pse__Resource__r.FirstName},&lt;/p&gt;&lt;p&gt;You do not have any Timecards submitted for the &lt;strong&gt;Week Ending&lt;/strong&gt; &lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;{!$Record.pse__End_Date__c}&lt;/u&gt;&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please log into PSA ASAP and submit a timecard.&lt;/p&gt;&lt;p&gt;*** Make sure the Week Ending Date on the Timecard page is &lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;{!$Record.pse__End_Date__c}&lt;/u&gt;&lt;/strong&gt; ***&lt;/p&gt;</text>
    </textTemplates>
</Flow>
