force-app/main/default/flows/FFX_SM_Create_Spend_Management_Configuration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Default_ICP_Name</name>
        <label>Set Default ICP</label>
        <locationX>360</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>varICPName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCompanyName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Home_Currency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ICP_Name</name>
        <label>Set ICP Name</label>
        <locationX>296</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>varICPName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proposed_ICP_NameX36</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ICP_Name_Length</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ICP_Name_0</name>
        <label>Set ICP Name</label>
        <locationX>530</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>varICPName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proposed_ICP_NameX18</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Continue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Warehouse_Name</name>
        <label>Set Warehouse Name</label>
        <locationX>1115</locationX>
        <locationY>838</locationY>
        <assignmentItems>
            <assignToReference>varWarehouseName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varICPName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Warehouse_Name_Length</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Warehouse_Name_Amended</name>
        <label>Set Warehouse Name</label>
        <locationX>813</locationX>
        <locationY>952</locationY>
        <assignmentItems>
            <assignToReference>varWarehouseName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proposed_Warehouse_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Warehouse_Name_Length</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Address_Found</name>
        <label>Address Found</label>
        <locationX>501</locationX>
        <locationY>393</locationY>
        <defaultConnector>
            <targetReference>ICP_Name_Length</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAddressID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue</name>
        <label>Continue</label>
        <locationX>705</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>ICP_Name_Length</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ICPYes</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>fmlICPNameLength</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fmlICPNameLength</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>35.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Allow_longer_ICP_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Currency_Found</name>
        <label>Currency Found</label>
        <locationX>692</locationX>
        <locationY>142</locationY>
        <defaultConnector>
            <targetReference>No_Home_Currency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>FFACurrencyFoundYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHomeCurrencyISOCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_SCM_Currency</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ICP_Found</name>
        <label>ICP Found</label>
        <locationX>889</locationX>
        <locationY>592</locationY>
        <defaultConnector>
            <targetReference>Create_ICP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesICP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varICPID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ICP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ICP_Name_Length</name>
        <label>ICP Name Length</label>
        <locationX>502</locationX>
        <locationY>599</locationY>
        <defaultConnector>
            <targetReference>Create_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>&lt;= 18</defaultConnectorLabel>
        <rules>
            <name>ICPX36</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmlICPNameLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>35.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ICP_Name_exceeds_35_characters</targetReference>
            </connector>
            <label>&gt; 35</label>
        </rules>
        <rules>
            <name>ICPX18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmlICPNameLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ICP_Name_exceeds_18_characters</targetReference>
            </connector>
            <label>&gt; 18</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_ORG_Currency</name>
        <label>Need ORG Currency</label>
        <locationX>1176</locationX>
        <locationY>1255</locationY>
        <defaultConnector>
            <targetReference>Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesNOC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSCMCorporateCurrencyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCMORGCurrency</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SCM_Currency_Found</name>
        <label>SCM Currency Found</label>
        <locationX>349</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>Currency_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SCMCurrencyFoundYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSCMCurrencyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ICP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_NeededORGCC</name>
        <label>Update Needed</label>
        <locationX>973</locationX>
        <locationY>1504</locationY>
        <defaultConnector>
            <targetReference>Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesOCN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSCMCorporateCurrencyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ConfirmORGCC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ORG_CC</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Yes_Home</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmORGCC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Home_Currency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ORG_CC_0</targetReference>
            </connector>
            <label>Yes - Home</label>
        </rules>
    </decisions>
    <decisions>
        <name>Warehouse_Found</name>
        <label>Warehouse Found</label>
        <locationX>1205</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Set_Warehouse_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesWH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWarehouseID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Warehouse</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Warehouse_Name_Length</name>
        <label>Warehouse Name Length</label>
        <locationX>974</locationX>
        <locationY>840</locationY>
        <defaultConnector>
            <targetReference>Warehouse_Name_too_Long</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Too Long</defaultConnectorLabel>
        <rules>
            <name>WHNameOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmlWarehouseNameLengthRemaining</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Warehouse</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <description>Creates/updates SCM configuration for Spend Management
ICP, Currency, Warehouse and Address (Single Currency Org)</description>
    <formulas>
        <name>fmlCompanyAddressCity</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varCompanyAddressCity}),&quot;.&quot;,{!varCompanyAddressCity})</expression>
    </formulas>
    <formulas>
        <name>fmlCompanyAddressCountry</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varCompanyAddressCountry}),&quot;.&quot;,{!varCompanyAddressCountry})</expression>
    </formulas>
    <formulas>
        <name>fmlCompanyAddressPostalCode</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varCompanyAddressPostalCode}),&quot;.&quot;,{!varCompanyAddressPostalCode})</expression>
    </formulas>
    <formulas>
        <name>fmlCompanyAddressState</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varCompanyAddressState}),&quot;.&quot;,{!varCompanyAddressState})</expression>
    </formulas>
    <formulas>
        <name>fmlCompanyAddressStreet</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varCompanyAddressStreet}),&quot;.&quot;,{!varCompanyAddressStreet})</expression>
    </formulas>
    <formulas>
        <name>fmlICPNameLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!varICPName})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fmlWarehouseNameLengthRemaining</name>
        <dataType>Number</dataType>
        <expression>36 - {!fmlICPNameLength} - LEN({!varWarehouseName})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SM Create Spend Management Configuration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SM Create Spend Management Configuration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Address</name>
        <label>Create Address</label>
        <locationX>712</locationX>
        <locationY>590</locationY>
        <assignRecordIdToReference>varAddressID</assignRecordIdToReference>
        <connector>
            <targetReference>ICP_Found</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varCompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__City__c</field>
            <value>
                <elementReference>fmlCompanyAddressCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Country__c</field>
            <value>
                <elementReference>fmlCompanyAddressCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Line1__c</field>
            <value>
                <elementReference>fmlCompanyAddressStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__PostalCode__c</field>
            <value>
                <elementReference>fmlCompanyAddressPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__State__c</field>
            <value>
                <elementReference>fmlCompanyAddressState</elementReference>
            </value>
        </inputAssignments>
        <object>SCMC__Address__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_ICP</name>
        <label>Create ICP</label>
        <locationX>1075</locationX>
        <locationY>683</locationY>
        <assignRecordIdToReference>varICPID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Warehouse</targetReference>
        </connector>
        <inputAssignments>
            <field>FFX_FFACompany__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varICPName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Address__c</field>
            <value>
                <elementReference>varAddressID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Currency__c</field>
            <value>
                <elementReference>varSCMCurrencyID</elementReference>
            </value>
        </inputAssignments>
        <object>SCMC__ICP__c</object>
    </recordCreates>
    <recordCreates>
        <description>Creates an SCM Currency</description>
        <name>Create_SCM_Currency</name>
        <label>Create SCM Currency</label>
        <locationX>206</locationX>
        <locationY>391</locationY>
        <assignRecordIdToReference>varSCMCurrencyID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_ICP</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varHomeCurrencyISOCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Number_of_decimals__c</field>
            <value>
                <elementReference>varCurrencyDecimals</elementReference>
            </value>
        </inputAssignments>
        <object>SCMC__Currency_Master__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Warehouse</name>
        <label>Create Warehouse</label>
        <locationX>980</locationX>
        <locationY>1069</locationY>
        <connector>
            <targetReference>Get_SCM_ORG_Currency</targetReference>
        </connector>
        <inputAssignments>
            <field>FFX_FFACompany__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varWarehouseName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Address__c</field>
            <value>
                <elementReference>varAddressID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__ICP__c</field>
            <value>
                <elementReference>varICPID</elementReference>
            </value>
        </inputAssignments>
        <object>SCMC__Warehouse__c</object>
    </recordCreates>
    <recordLookups>
        <name>Check_SCM_Currency</name>
        <label>Check SCM Currency</label>
        <locationX>511</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCM_Currency_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHomeCurrencyISOCode</elementReference>
            </value>
        </filters>
        <object>SCMC__Currency_Master__c</object>
        <outputAssignments>
            <assignToReference>varSCMCurrencyID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Retrieve FFA company information</description>
        <name>Get_Company_Info</name>
        <label>Get Company Info</label>
        <locationX>204</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Default_ICP_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>c2g__codaCompany__c</object>
        <outputAssignments>
            <assignToReference>varCompanyName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCompanyAddressCity</assignToReference>
            <field>c2g__City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCompanyAddressCountry</assignToReference>
            <field>c2g__Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCompanyAddressState</assignToReference>
            <field>c2g__StateProvince__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCompanyAddressStreet</assignToReference>
            <field>c2g__Street__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCompanyAddressPostalCode</assignToReference>
            <field>c2g__ZipPostCode__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>From Accounting Currencies</description>
        <name>Get_Home_Currency</name>
        <label>Get Home Currency</label>
        <locationX>515</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Currency_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__Home__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>c2g__OwnerCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>c2g__codaAccountingCurrency__c</object>
        <outputAssignments>
            <assignToReference>varHomeCurrencyISOCode</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCurrencyDecimals</assignToReference>
            <field>c2g__DecimalPlaces__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Fetch ICP</description>
        <name>Get_ICP</name>
        <label>Get ICP</label>
        <locationX>356</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Address_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FFX_FFACompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SCMC__ICP__c</object>
        <outputAssignments>
            <assignToReference>varICPID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varICPName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAddressID</assignToReference>
            <field>SCMC__Address__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SCM_ORG_Currency</name>
        <label>Get SCM ORG Currency</label>
        <locationX>1183</locationX>
        <locationY>1069</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Need_ORG_Currency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMC__Corporate_Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SCMC__Currency_Master__c</object>
        <outputAssignments>
            <assignToReference>varSCMCorporateCurrencyID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Warehouse</name>
        <label>Get Warehouse</label>
        <locationX>1263</locationX>
        <locationY>592</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Warehouse_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FFX_FFACompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCMC__ICP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varICPID</elementReference>
            </value>
        </filters>
        <object>SCMC__Warehouse__c</object>
        <outputAssignments>
            <assignToReference>varWarehouseID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>Update Address</description>
        <name>Update_Address</name>
        <label>Update Address</label>
        <locationX>897</locationX>
        <locationY>392</locationY>
        <connector>
            <targetReference>ICP_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAddressID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varCompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__City__c</field>
            <value>
                <elementReference>fmlCompanyAddressCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Country__c</field>
            <value>
                <elementReference>fmlCompanyAddressCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Line1__c</field>
            <value>
                <elementReference>fmlCompanyAddressStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__PostalCode__c</field>
            <value>
                <elementReference>fmlCompanyAddressPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__State__c</field>
            <value>
                <elementReference>fmlCompanyAddressState</elementReference>
            </value>
        </inputAssignments>
        <object>SCMC__Address__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ICP</name>
        <label>Update ICP</label>
        <locationX>1076</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>Get_Warehouse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varICPID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varCompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Address__c</field>
            <value>
                <elementReference>varAddressID</elementReference>
            </value>
        </inputAssignments>
        <object>SCMC__ICP__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ORG_CC</name>
        <label>Update ORG CC</label>
        <locationX>1135</locationX>
        <locationY>1590</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSCMCorporateCurrencyID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SCMC__Corporate_Currency__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SCMC__Currency_Master__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ORG_CC_0</name>
        <label>Update ORG CC</label>
        <locationX>1139</locationX>
        <locationY>1409</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSCMCurrencyID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SCMC__Corporate_Currency__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SCMC__Currency_Master__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Warehouse</name>
        <label>Update Warehouse</label>
        <locationX>1407</locationX>
        <locationY>1069</locationY>
        <connector>
            <targetReference>Get_SCM_ORG_Currency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWarehouseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varCompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMC__Address__c</field>
            <value>
                <elementReference>varAddressID</elementReference>
            </value>
        </inputAssignments>
        <object>SCMC__Warehouse__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>1308</locationX>
        <locationY>1500</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirm</name>
            <fieldText>&lt;p&gt;An ICP and a single warehouse have been created/updated with the company address.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Currency_Needed</name>
        <label>Currency Needed</label>
        <locationX>206</locationX>
        <locationY>231</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_SCM_Currency</targetReference>
        </connector>
        <fields>
            <name>txtNoCurrencyFound_0</name>
            <fieldText>&lt;p&gt;Company {!varCompanyName} has a home currency of &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varHomeCurrencyISOCode}. This does not yet exist for use in Spend Management so will now be created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ICP_Name_exceeds_18_characters</name>
        <label>ICP Name exceeds 18 characters</label>
        <locationX>400</locationX>
        <locationY>772</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_ICP_Name_0</targetReference>
        </connector>
        <fields>
            <name>txtCNX18</name>
            <fieldText>&lt;p&gt;By default we take the ICP Name from the Company. However the combined ICP &amp;amp; Warehouse names are used to create a Salesforce Queue, and the name of this cannot exceed 36 characters.&lt;/p&gt;&lt;p&gt;As the company name (&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varCompanyName})&lt;/span&gt; is longer than 18 characters the default combined ICP + Warehouse name will exceed this.&lt;/p&gt;&lt;p&gt;It is recommended to keep the ICP Name to 18 characters or fewer; to continue with a longer name (of less than 36 characters) check the override option.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Proposed_ICP_NameX18</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varICPName</elementReference>
            </defaultValue>
            <fieldText>Proposed ICP Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Allow_longer_ICP_Name</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Allow longer ICP Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ICP_Name_exceeds_35_characters</name>
        <label>ICP Name exceeds 35 characters</label>
        <locationX>295</locationX>
        <locationY>526</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_ICP_Name</targetReference>
        </connector>
        <fields>
            <name>txtCNX36</name>
            <fieldText>&lt;p&gt;By default we take the ICP Name from the Company. However the combined ICP &amp;amp; Warehouse names are used to create a Salesforce Queue, and the name of this cannot exceed 36 characters.&lt;/p&gt;&lt;p&gt;As the company name (&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!varCompanyName})&lt;/span&gt; is longer than 36 characters the ICP name needs to be abbreviated or changed.&lt;/p&gt;&lt;p&gt;Please enter a revised name to use for the ICP here. It is recommended to keep this to 18 characters or fewer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Proposed_ICP_NameX36</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varICPName</elementReference>
            </defaultValue>
            <fieldText>Proposed ICP Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Home_Currency</name>
        <label>No Home Currency</label>
        <locationX>901</locationX>
        <locationY>139</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtNoCurrencyFound</name>
            <fieldText>&lt;p&gt;Company {!varCompanyName} does not yet have a home currency specified. Without this Spend Management configuration cannot proceed. Please check the FinancialForce Accounting configuration then retry.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCMORGCurrency</name>
        <label>SCMORGCurrency</label>
        <locationX>981</locationX>
        <locationY>1253</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_NeededORGCC</targetReference>
        </connector>
        <fields>
            <name>IntroSCMOrgCC</name>
            <fieldText>&lt;p&gt;One currency must be set as the organisational default for SCM/Spend Management. This can be done later, but must be done before Supplier Accounts are created for Purchase Orders.&lt;/p&gt;&lt;p&gt;To set an organisation currency now choose the currency currency here and confirm it as the organisational default.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>scmODCC</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SCMC__Currency__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varSCMCorporateCurrencyID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>SCMC__ICP__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <elementReference>ConfirmORGCC</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSCMCorporateCurrencyID</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varSCMCorporateCurrencyName</assignToReference>
                <name>recordName</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ConfirmORGCC</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Confirm selected currency as SCM Organisational Currency</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SCMORGCurrency_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCMORGCurrency_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Use_Home_Currency</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Use Home Currency</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCMORGCurrency_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HomeCC</name>
                    <fieldText>&lt;p&gt;Home Currency = {!varHomeCurrencyISOCode}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warehouse_Name_too_Long</name>
        <label>Warehouse Name too Long</label>
        <locationX>813</locationX>
        <locationY>726</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Warehouse_Name_Amended</targetReference>
        </connector>
        <fields>
            <name>txtCNX18_0</name>
            <fieldText>&lt;p&gt;The combined ICP and Warehouse Name cannot exceed 36 characters; the ICP name is {!varICPName}, so please abbreviate or amend the Warehouse name to fit inside this restriction.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Proposed_Warehouse_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varWarehouseName</elementReference>
            </defaultValue>
            <fieldText>Proposed Warehouse Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Company_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The FFA Company ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAddressID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompanyAddressCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompanyAddressCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompanyAddressPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompanyAddressState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompanyAddressStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrencyDecimals</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varHomeCurrencyISOCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varICPID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varICPName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSCMCorporateCurrencyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSCMCorporateCurrencyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSCMCurrencyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWarehouseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWarehouseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
