force-app/main/default/flows/FFX_SM_Create_PIN_from_AP_Voucher.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_PIN_Later</name>
        <label>Send PIN Later</label>
        <locationX>787</locationX>
        <locationY>482</locationY>
        <actionName>fferpcore__MessagingActionDeliverLater</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Need_Reversals_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>publicationIdentifier</name>
            <value>
                <stringValue>AP Voucher - AP Voucher</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>inAPVoucherID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>fferpcore__MessagingActionDeliverLater</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_PIN_Now</name>
        <label>Send PIN Now</label>
        <locationX>1037</locationX>
        <locationY>482</locationY>
        <actionName>fferpcore__MessagingActionDeliverNow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Need_Reversals_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>publicationIdentifier</name>
            <value>
                <stringValue>AP Voucher - AP Voucher</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>inAPVoucherID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>fferpcore__MessagingActionDeliverNow</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Reversal_Later</name>
        <label>Send Reversal Later</label>
        <locationX>847</locationX>
        <locationY>661</locationY>
        <actionName>fferpcore__MessagingActionDeliverLater</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Reversals_Later</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>publicationIdentifier</name>
            <value>
                <stringValue>AP Voucher Line - AP Voucher Accounting</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Loop_Reversals_Later.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>fferpcore__MessagingActionDeliverLater</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Reversal_Now</name>
        <label>Send Reversal Now</label>
        <locationX>969</locationX>
        <locationY>654</locationY>
        <actionName>fferpcore__MessagingActionDeliverNow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Reversals_Now</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>publicationIdentifier</name>
            <value>
                <stringValue>AP Voucher Line - AP Voucher Accounting</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Loop_Reversals_Now.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>fferpcore__MessagingActionDeliverNow</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Ac_Line</name>
        <label>Add Ac Line</label>
        <locationX>29</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>colAPVAccountingLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objAPVAccountingLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_APV_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Ac_Line_0</name>
        <label>Add Ac Line</label>
        <locationX>507</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>colAPVAccountingLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objAPVAccountingLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Line_GRNI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Ac_Line_0_0</name>
        <label>Add Ac Line</label>
        <locationX>667</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>colAPVAccountingLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objAPVAccountingLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PPV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Line_GRNI</name>
        <label>Set Line (GRNI)</label>
        <locationX>507</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>objAPVAccountingLine.FFX_AP_Voucher__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inAPVoucherID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAPVAccountingLine.FFX_AP_Voucher_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAPVoucherLine.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAPVAccountingLine.FFX_Line_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Line</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAPVAccountingLine.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inISOCurrencyCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Ac_Line_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Line_Item</name>
        <label>Set Line (Item)</label>
        <locationX>29</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>objAPVAccountingLine.FFX_AP_Voucher__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inAPVoucherID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAPVAccountingLine.FFX_AP_Voucher_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAPVoucherLine.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAPVAccountingLine.FFX_Line_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Line</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAPVAccountingLine.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inISOCurrencyCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Ac_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Line_Over</name>
        <label>Set Line (Over)</label>
        <locationX>358</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>objAPVAccountingLine.FFX_AP_Voucher__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inAPVoucherID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAPVAccountingLine.FFX_AP_Voucher_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAPVoucherLine.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAPVAccountingLine.FFX_Line_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Over</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAPVAccountingLine.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inISOCurrencyCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Ac_Line_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Line_PPV</name>
        <label>Set Line (PPV)</label>
        <locationX>304</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>objAPVAccountingLine.FFX_AP_Voucher__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inAPVoucherID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAPVAccountingLine.FFX_AP_Voucher_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAPVoucherLine.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAPVAccountingLine.FFX_Line_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PPV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAPVAccountingLine.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inISOCurrencyCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Ac_Line</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Added_Item</name>
        <label>Added Item</label>
        <locationX>180</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>Overage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>AIYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAPVoucherLine.SCMC__Accounting_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Line_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delivery_Type</name>
        <label>Delivery Type</label>
        <locationX>904</locationX>
        <locationY>282</locationY>
        <defaultConnector>
            <targetReference>Send_PIN_Later</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deliver Later</defaultConnectorLabel>
        <rules>
            <name>Deliver_Now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inDeliverNow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_PIN_Now</targetReference>
            </connector>
            <label>Deliver Now</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Reversals</name>
        <label>Need Reversals</label>
        <locationX>778</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Delivery_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>NRYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.FFX_SMCustomSettings__c.FFX_SM_UseGRNIAccruals__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.FFX_SMCustomSettings__c.FFX_SMFixPORates__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_APVA_Lines</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Reversals_0</name>
        <label>Need Reversals</label>
        <locationX>649</locationX>
        <locationY>483</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>NRYes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.FFX_SMCustomSettings__c.FFX_SM_UseGRNIAccruals__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.FFX_SMCustomSettings__c.FFX_SMFixPORates__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Reversals_Later</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Reversals_0_0</name>
        <label>Need Reversals</label>
        <locationX>1151</locationX>
        <locationY>483</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>NRYes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.FFX_SMCustomSettings__c.FFX_SM_UseGRNIAccruals__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.FFX_SMCustomSettings__c.FFX_SMFixPORates__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Reversals_Now</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overage</name>
        <label>Overage</label>
        <locationX>348</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>Set_Line_GRNI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OverageYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAPVoucherLine.SCMC__Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>objAPVoucherLine.SCMC__Quantity_Received__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Line_Over</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PPV</name>
        <label>PPV</label>
        <locationX>587</locationX>
        <locationY>246</locationY>
        <defaultConnector>
            <targetReference>Loop_APV_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PPVYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAPVoucherLine.SCMC__Extended_Purchase_Price_Variance__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Line_PPV</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Single Currency Org Version</description>
    <interviewLabel>SM Create PIN from AP Voucher {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SM Create PIN from AP Voucher</label>
    <loops>
        <name>Loop_APV_Lines</name>
        <label>Loop APV Lines</label>
        <locationX>192</locationX>
        <locationY>191</locationY>
        <assignNextValueToReference>objAPVoucherLine</assignNextValueToReference>
        <collectionReference>colAPVoucherLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Added_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Ac_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Reversals_Later</name>
        <label>Loop Reversals Later</label>
        <locationX>658</locationX>
        <locationY>661</locationY>
        <collectionReference>Get_APVA_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Reversal_Later</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Reversals_Now</name>
        <label>Loop Reversals Now</label>
        <locationX>1160</locationX>
        <locationY>654</locationY>
        <collectionReference>Get_APVA_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Reversal_Now</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Ac_Lines</name>
        <label>Create Ac Lines</label>
        <locationX>629</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Need_Reversals</targetReference>
        </connector>
        <inputReference>colAPVAccountingLines</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Retrieve AP Voucher Lines from AP Voucher</description>
        <name>Get_APV_Lines</name>
        <label>Get APV Lines</label>
        <locationX>191</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_APV_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMC__AP_Voucher__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inAPVoucherID</elementReference>
            </value>
        </filters>
        <object>SCMC__AP_Voucher_Line__c</object>
        <outputReference>colAPVoucherLines</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SCMC__Accounting_Item__c</queriedFields>
        <queriedFields>SCMC__Purchase_Order_Line_Item__c</queriedFields>
        <queriedFields>SCMC__Extended_Purchase_Price_Variance__c</queriedFields>
        <queriedFields>SCMC__Quantity__c</queriedFields>
        <queriedFields>SCMC__Quantity_Received__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_APVA_Lines</name>
        <label>Get APVA Lines</label>
        <locationX>1046</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delivery_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FFX_AP_Voucher__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inAPVoucherID</elementReference>
            </value>
        </filters>
        <filters>
            <field>FFX_ReversalNeeded__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FFX_AP_Voucher_Accounting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_APV_Lines</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colAPVAccountingLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FFX_AP_Voucher_Accounting__c</objectType>
    </variables>
    <variables>
        <name>colAPVoucherLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__AP_Voucher_Line__c</objectType>
    </variables>
    <variables>
        <description>AP Voucher ID (from SCM)</description>
        <name>inAPVoucherID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inDeliverNow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inISOCurrencyCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objAPVAccountingLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FFX_AP_Voucher_Accounting__c</objectType>
    </variables>
    <variables>
        <name>objAPVoucherLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__AP_Voucher_Line__c</objectType>
    </variables>
</Flow>
