force-app/main/default/flows/FFX_FFRM_Populate_GLA_Name_on_Expense_Source_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Milestone_Blank_on_Expense</name>
        <label>Is Milestone Blank on Expense ?</label>
        <locationX>419</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_MS_Blank_on_Exp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Expense_Data.pse__Milestone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assignment_Data</targetReference>
            </connector>
            <label>Yes - MS Blank on Exp</label>
        </rules>
        <rules>
            <name>No_MS_not_Blank_on_Exp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Expense_Data.pse__Milestone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Milestone_Data</targetReference>
            </connector>
            <label>No - MS not Blank on Exp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_RR_GLA_Blank</name>
        <label>Is RR GLA Blank</label>
        <locationX>1642</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RR_GLA_Is_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_GLA_Record_IDs_from_Service_Product.FFX_RevenueRecognitionAccount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sales_Revenue_RR_GLA_Name</targetReference>
            </connector>
            <label>RR GLA Is Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SP_Blank_on_Expense</name>
        <label>Is SP Blank on Expense ?</label>
        <locationX>419</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SP_Blank_on_Exp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Expense_Data.ffpsai__ServicesProduct__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Milestone_Blank_on_Expense</targetReference>
            </connector>
            <label>Yes - SP Blank on Exp</label>
        </rules>
        <rules>
            <name>No_SP_not_Blank_on_Exp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Expense_Data.ffpsai__ServicesProduct__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SP_into_Variable</targetReference>
            </connector>
            <label>No - SP not Blank on Exp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SP_Blank_on_Milestone</name>
        <label>Is SP Blank on Milestone ?</label>
        <locationX>943</locationX>
        <locationY>281</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SP_Blank_on_MS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceProductRecordID_INPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assignment_Data</targetReference>
            </connector>
            <label>Yes - SP Blank on MS</label>
        </rules>
        <rules>
            <name>No_SP_not_Blank_on_MS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceProductRecordID_INPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GLA_Record_IDs_from_Service_Product</targetReference>
            </connector>
            <label>No - SP not Blank on MS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SP_Completed_on_Assignment</name>
        <label>Is SP Completed on Assignment ?</label>
        <locationX>1115</locationX>
        <locationY>707</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SP_on_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceProductRecordID_INPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GLA_Record_IDs_from_Service_Product</targetReference>
            </connector>
            <label>Yes - SP on Assignment</label>
        </rules>
        <rules>
            <name>No_SP_not_on_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceProductRecordID_INPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Data</targetReference>
            </connector>
            <label>No - SP not on Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SP_on_Project</name>
        <label>Is SP on Project ?</label>
        <locationX>1281</locationX>
        <locationY>328</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SP_on_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceProductRecordID_INPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GLA_Record_IDs_from_Service_Product</targetReference>
            </connector>
            <label>Yes - SP on Project</label>
        </rules>
        <rules>
            <name>No_SP_not_on_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceProductRecordID_INPUT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_the_Fields</targetReference>
            </connector>
            <label>No - SP not on Project</label>
        </rules>
    </decisions>
    <interviewLabel>FFRM - Populate GLA Name on Timecard Split Source Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FFRM - Populate GLA Name on Expense Source Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assignment_Data</name>
        <label>Get Assignment Data</label>
        <locationX>704</locationX>
        <locationY>704</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_SP_Completed_on_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Expense_Data.pse__Assignment__c</elementReference>
            </value>
        </filters>
        <object>pse__Assignment__c</object>
        <outputAssignments>
            <assignToReference>ServiceProductRecordID_INPUT</assignToReference>
            <field>ffpsai__ServicesProduct__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Expense_Data</name>
        <label>Get Expense Data</label>
        <locationX>229</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_SP_Blank_on_Expense</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExpenseRecordID_INPUT</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Expense__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ffpsai__ServicesProduct__c</queriedFields>
        <queriedFields>pse__Milestone__c</queriedFields>
        <queriedFields>pse__Assignment__c</queriedFields>
        <queriedFields>pse__Project__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GLA_Record_IDs_from_Service_Product</name>
        <label>Get GLA Record IDs from Service Product</label>
        <locationX>1115</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Revenue_GLA_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceProductRecordID_INPUT</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>c2g__CODASalesRevenueAccount__c</queriedFields>
        <queriedFields>FFX_RevenueRecognitionAccount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestone_Data</name>
        <label>Get Milestone Data</label>
        <locationX>727</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_SP_Blank_on_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Expense_Data.pse__Milestone__c</elementReference>
            </value>
        </filters>
        <object>pse__Milestone__c</object>
        <outputAssignments>
            <assignToReference>ServiceProductRecordID_INPUT</assignToReference>
            <field>ffpsai__ServicesProduct__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Data</name>
        <label>Get Project Data</label>
        <locationX>1289</locationX>
        <locationY>615</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_SP_on_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Expense_Data.pse__Project__c</elementReference>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <outputAssignments>
            <assignToReference>ServiceProductRecordID_INPUT</assignToReference>
            <field>ffpsai__ServicesProduct__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Revenue_GLA_Name</name>
        <label>Get Sales Revenue GLA Name</label>
        <locationX>1465</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_RR_GLA_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_GLA_Record_IDs_from_Service_Product.c2g__CODASalesRevenueAccount__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c2g__codaGeneralLedgerAccount__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Revenue_RR_GLA_Name</name>
        <label>Get Sales Revenue RR GLA Name</label>
        <locationX>1648</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Expense</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_GLA_Record_IDs_from_Service_Product.FFX_RevenueRecognitionAccount__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c2g__codaGeneralLedgerAccount__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SP_into_Variable</name>
        <label>Get SP into Variable</label>
        <locationX>740</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_GLA_Record_IDs_from_Service_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExpenseRecordID_INPUT</elementReference>
            </value>
        </filters>
        <object>pse__Expense__c</object>
        <outputAssignments>
            <assignToReference>ServiceProductRecordID_INPUT</assignToReference>
            <field>ffpsai__ServicesProduct__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Blank_the_Fields</name>
        <label>Blank the Fields</label>
        <locationX>1387</locationX>
        <locationY>208</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExpenseRecordID_INPUT</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FFX_Rev_Rec_Sales_GLA__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_Rev_Rec_Sales_RRGLA__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>pse__Expense__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Expense</name>
        <label>Update Expense</label>
        <locationX>1463</locationX>
        <locationY>611</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExpenseRecordID_INPUT</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FFX_Rev_Rec_Sales_GLA__c</field>
            <value>
                <elementReference>Get_Sales_Revenue_GLA_Name.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_Rev_Rec_Sales_RRGLA__c</field>
            <value>
                <elementReference>Get_Sales_Revenue_RR_GLA_Name.Name</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Expense__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Expense_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ExpenseRecordID_INPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceProductRecordID_INPUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
