force-app/main/default/flows/FFX_FAM_Add_Fixed_Asset_Reference_to_Depreciation_Journal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_FAM_Depreciation</name>
        <label>Is FAM Depreciation</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Depreciation_Schedule__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Fixed_Asset_Reference</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Populates the Fixed Asset on Depreciation Schedule postings from FAM (Process previously configured in FAM - DEPRECATED Add Fixed Asset Reference to Depreciation Journal PB Process Builder).</description>
    <interviewLabel>FAM Add Fixed Asset Reference to Depreciation Journal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FAM Add Fixed Asset Reference to Depreciation Journal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add_Fixed_Asset_Reference</name>
        <label>Add Fixed Asset Reference</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fixed_Asset__c</field>
            <value>
                <elementReference>$Record.Depreciation_Schedule__r.FAM__Depreciation_Book__r.FAM__Fixed_Asset__c</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaJournal__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_FAM_Depreciation</targetReference>
        </connector>
        <object>c2g__codaJournal__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
